
.container{

    max-width: 1920px;
    height: 1100px;
    margin: 40px 120px;
    .standard-report-selection{
    gap: 20px;
    }
   .txt-title{
        width: 270px;
        color: #0A4569;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        
  
        
    }
    .form-control{
    width: 1100px;
    height:48px;
    border: 1px solid  #DFDFDF;
  
      
    }
    .selected-reports{
    width: 1100px;
    height:48px;
    border: 1px solid  #D0D0D0;
    background-color: #F5F5F5;
    padding: 6.8px 38px;

    span{
        width: 67px;
        height: 32px;
        font-size:14px ;
        font-family: 400;
        color:#878787;
        margin-left: 20px;
    }
    .btn-download{
        background: #083754;
        width: 112px;
        height: 32px;
        color: #FFFFFF;
        margin-left: 32px;
        
    }
   
    }
    .reports-data{
        width:1100px;
        
        margin-top: 38px;

    }
    
    
    
} 
.container .selected-reports span{
    height: 22px;
    color: #2F2F2F  ;
    
}
.ag-theme-alpine {
    --ag-background-color: #ddd;
}
.ag-theme-alpine .ag-header-cell-label {
    font-style: italic;
}
.ag-theme-balham .ag-checkbox-input,
.ag-theme-b .ag-checkbox-label {
  /* Your custom styles here */
  /* For example, changing the checkbox color and size */
  background-color: #3498db;
  border-color: #3498db;
  width: 18px;
  height: 18px;
}
.ag-checkbox-input-wrapper input, .ag-checkbox-input-wrapper input{
}
.ag-checkbox-input-wrapper::after {
    
    color: var(--ag-checkbox-unchecked-color);
    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;

    pointer-events: none;}