.main-container {
  height: 836;
  margin: 33px 113px 42px;
  padding: 0;

  @media (min-width: 1920px) {
    width: 1694px !important;
    margin: 33px auto 42px !important;
  }

  .append-container {
    width: 500px;
    margin: 0 auto;
    min-height: 0 !important;
  }

  .standard-report-selection {
    position: relative;
  }

  .txt-title {
    width: 270px;
    color: #0a4569;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
  }

  .has-search .form-control {
    height: 48px;
    border: 1px solid #dfdfdf;
    padding-left: 50px;
    font-size: 18px;
    margin-top: 33px;
  }

  .has-search .search-icon {
    position: absolute;
    margin-top: 43px;
    margin-left: 11.94px;
    font-size: 28px;
    z-index: 2;
    pointer-events: none;
    color: #636363;
  }

  .custom-placeholder::placeholder {
    font-family: "Helvetica Neue";
    font-size: 16px;
    color: #808080;
    font-weight: normal;
  }

  .selected-reports {
    height: 48px;
    border: 1px solid #d0d0d0;
    background-color: #f5f5f5;
    padding: 6.8px 16px;
    margin-top: 18px;

    span {
      width: 67px;
      height: 32px;
      font-size: 14px;
      font-weight: 600;
      color: #444 !important;
    }

    .btn-download {
      background: #083754;
      height: 32px !important;
      color: #ffffff;
      margin-left: 21px;
      padding: 13px 9px;
      font-weight: normal;
      border-radius: 0px !important;
    }
  }

  .reports-data {
    margin-top: 18px;
  }
}

:host ::ng-deep .k-button-icon {
  margin-right: 6px !important;
}

.arrow {
  transform: rotate(270deg);
  margin-left: 22px;
  margin-bottom: 4px;
  position: relative;
}

.arrow::before {
  content: " ";
  border-left: 2px solid #165477;
  border-bottom: 2px solid #165477;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
}

.container .selected-reports span {
  height: 22px;
  color: #2f2f2f;
}

:host ::ng-deep .hide-header-text {
  display: none;
}

// Change for default style of ag-theme-balham
.ag-theme-balham {
  --ag-selected-row-background-color: none !important;
  --ag-row-hover-color: none !important;
  position: relative;
}

:host ::ng-deep .ag-header {
  min-height: 48px !important;
  background-color: #f5f5f5 !important;
  font-family: "Helvetica Neue" !important;
  font-size: 14px !important;
}

:host ::ng-deep .ag-header-cell {
  font-weight: 500 !important;
  color: #2f2f2f !important;
  letter-spacing: 0.1px;
}

:host ::ng-deep  .ag-header-cell-text{
  text-transform: capitalize;
}

:host ::ng-deep .ag-cell-label-container {
  flex-direction: row-reverse !important;
  width: unset;
  padding: 0 !important;
}

:host ::ng-deep .ag-group-value {
  margin-left: 23px !important;
}

:host ::ng-deep .ag-checkbox-input-wrapper .ag-checked {
  font-size: 20px !important;
}

:host ::ng-deep .ag-checkbox-input-wrapper.ag-checked::after {
  display: block;
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' fill='none'  viewBox='0 0 24 24' stroke-width='3' stroke='white' class='w-6 h-6'> <path stroke-linecap='round' stroke-linejoin='round' d='M4.5 12.75l6 6 9-13.5' class='icons' /></svg>");
  background-size: 28px 28px !important;
  background: fixed;
  background-size: cover;
  width: 16px;
  margin-left: 2px;
  margin-top: 2px;
}

:host ::ng-deep .ag-checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  &:checked {
    background-color: #2b6789 !important;
    border: none !important;
    &::after {
      display: none !important;
    }
  }
}

:host ::ng-deep .ag-checkbox-input-wrapper input,
.ag-checkbox-input-wrapper input,
.ag-checkbox-input-wrapper {
  -webkit-appearance: none !important;
  appearance: none;
  opacity: 1 !important;
  border: 2px solid #d0d0d0;
  width: 20px;
  height: 20px;
}

:host ::ng-deep .ag-checkbox .ag-input-wrapper {
  border: none;
  box-shadow: none;
}

:host ::ng-deep .ag-checkbox-input-wrapper::after {
  display: none;
}

:host ::ng-deep .ag-group-checkbox {
  margin-left: 13px !important;
}

:host ::ng-deep .ag-ltr {
  .ag-row-group-leaf-indent {
    margin-left: 0 !important;
  }
  .ag-group-expanded {
    margin-right: 0 !important;
  }
  .ag-group-contracted {
    margin-right: 0px !important;
  }
  .ag-sort-indicator-icon {
    padding-left: 0 !important;
  }
  .ag-header-select-all {
    margin-right: 36px !important;
  }

  .ag-cell {
    display: flex;
    align-items: center;

    .ag-icon {
      position: absolute;
      top: 29px;
      left: 21px;
      font-size: 30px;
      color: #000;
    }
  }
  .ag-cell-focus {
    border: none !important;
  }
}

//  For RowData
:host ::ng-deep .newBadge {
  border-radius: 5px;
  background: #227fed;
  color: #fff;
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 16px;
  min-width: 47px;
  height: 20px;
  align-self: center;
  margin-left: 10px;
  text-transform: uppercase;
}

:host ::ng-deep .childData {
  color: #2a2a2a;

  font-size: 16px;
  font-weight: 400 !important;
}

:host ::ng-deep .rowData {
  color: #2a2a2a;

  font-size: 16px;
  font-weight: 500 !important;
}

:host ::ng-deep .subText {
  font-size: 10.9px;
  font-weight: 400;
  resize: both;
  color: #2a2a2a;
}

:host ::ng-deep .ag-cell-wrapper > *:not(.ag-cell-value):not(.ag-group-value) {
  align-self: center !important;
}

// header sorting icon
:host ::ng-deep .ag-icon-desc {
  margin-top: -7px;
  &::before {
    content: url("/assets/images/down-arrow.svg");
    margin-left: 10px;
  }
}

:host ::ng-deep .ag-icon-asc {
  margin-top: -7px;
  &::before {
    content: url("/assets/images/up-arrow.svg");
    margin-left: 10px;
  }
}

// For Menu of header
:host ::ng-deep .ag-icon .ag-icon-menu {
  content: "" !important;
}

:host ::ng-deep .preview,
:host ::ng-deep .download {
  visibility: hidden;
  height: 19px;
  background-color: #d9d9d9;
  padding: 9px 8.24px 6px 8.24px;
  font-size: 10px;
  line-height: 0px !important;
  margin-top: 3px !important;
  border-radius: 5px;
}

:host ::ng-deep .download {
  margin-top: 0px !important;
}

:host ::ng-deep .previewIcon:hover .preview {
  visibility: visible;
}

:host ::ng-deep .previewIcon:hover .download {
  visibility: visible;
}

// border of locked column
:host ::ng-deep .ag-pinned-left-header,
:host ::ng-deep .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(
    .ag-cell-range-single-cell
  ) {
  border-right: none !important;
}

:host ::ng-deep .ag-pinned-right-header,
:host ::ng-deep .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(
    .ag-cell-range-single-cell
  ) {
  border-left: none !important;
}

:host ::ng-deep .ag-pinned-right-cols-container {
  margin-right: 0px !important;
}

:host ::ng-deep .ag-header-cell-menu-button {
  margin-left: 10px;
}

:host ::ng-deep .ag-header-cell-comp-wrapper {
  overflow: visible;
}

// Pagination container
:host ::ng-deep .ag-paging-panel {
  height: 48px !important;
  background-color: #f5f5f5 !important;
  .ag-paging-description {
    color: #000;
    font-weight: 400;
    font-size: 14px;
  }
}

.pageSize-selction {
  position: absolute;
  bottom: 13px;
  left: 40px;

  select {
    background-color: #f5f5f5;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    border: none;
    width: 115px;
  }
}

// Pinned right column
:host ::ng-deep {
  .ag-pinned-right-cols-container {
    min-width: 135px !important;
    max-width: unset !important;
  }

  .ag-pinned-right-header {
    width: 0 !important  ;
    min-width: 135px !important;
  }
}

// Pinned left column
:host ::ng-deep .ag-pinned-left-header,
:host ::ng-deep .ag-pinned-left-cols-container {
  width: 550px !important;
}

:host ::ng-deep .ag-cell-value {
  width: auto !important;
}

// Scrollbar of table
:host ::ng-deep .ag-root ::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  margin-right: 2px;
  z-index: 99;
}

:host ::ng-deep .ag-root ::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 6px;
}

:host ::ng-deep .ag-body-vertical-scroll {
  right: 5px !important;
  position: absolute !important;
}

:host ::ng-deep .ag-body-vertical-scroll.ag-scrollbar-invisible.ag-apple-scrollbar {
  opacity: 1 !important;
  visibility: visible !important;
  position: absolute;
}

:host ::ng-deep .reportCell {
  color: #2a2a2a;
  width: 150px !important;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  display: flex !important;
  justify-content: left !important;
}

:host ::ng-deep .addedOnCell {
  color: #2a2a2a;
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

:host ::ng-deep .ag-paging-row-summary-panel {
  display: none;
}

.resetButton {
  position: absolute;
  background-color: #f7f7f7;
  border-right: 1px solid rgb(189, 195, 199) !important;
  height: 47px;
  width: 86%;
  font-family: "Helvetica Neue";
  border: 0;
  font-size: 16px;
  color: #0a4569;
  font-weight: 700;
  top: 0;
  left: 0;

  &:hover {
    background: #c8d3dc !important;
  }
}

.clear-section-section {
  height: 100%;
  padding: 4px 20px;
  height: 32px;
  cursor: pointer;
  border-radius: 7px;
}

.clear-section-txt {
  margin-right: 11.1px;
  font-size: 14px;
  color: #444;
  font-weight: 300 !important;
}

.clear-section-section:hover {
  background-color: rgba(#a8becc, 0.2);
}

:host ::ng-deep .ag-tool-panel-wrapper {
  border-top: 1px solid rgb(189, 195, 199);
}

:host ::ng-deep .ag-column-panel-column-select {
  border-top: none;
}

:host ::ng-deep {
  .ag-side-bar {
    padding: 48px 6px 0px 0px;
    position: relative;
    color: #2f2f2f;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .ag-side-buttons {
    padding-top: 0;
    margin-top: -35px;
    margin-left: 7px;
  }

  .ag-side-button .ag-icon-columns::before {
    content: url("/assets/images/columns-icon.png");
  }

  .ag-side-button .ag-icon-filter::before {
    content: url("/assets/images/filter-icon.png");
  }

  .ag-side-button-icon-wrapper {
    margin-bottom: 11px;
  }

  button.ag-side-button-button {
    border: none;
    padding: 0;
  }

  .ag-side-button:last-child {
    margin-top: 43px;
  }
}

:host ::ng-deep {
  .ag-pinned-left-header,
  .ag-pinned-left-cols-container {
    width: 550px !important;
  }
}

:host ::ng-deep {
  .ag-pinned-left-header .ag-header-cell {
    padding-left: 60px !important;
  }
}

:host ::ng-deep {
  .ag-horizontal-right-spacer {
    min-width: 135px !important;
  }

  .ag-center-cols-container {
    margin-right: 0 !important;
    min-width: 100% !important;
  }
}

:host ::ng-deep {
  .ag-side-buttons {
    padding-top: 0;
  }

  .ag-side-button .ag-icon-columns::before {
    content: url("/assets/images/columns-icon.png");
  }

  .ag-side-button .ag-icon-filter::before {
    content: url("/assets/images/filter-icon.png");
  }

  .ag-side-button-icon-wrapper {
    margin-bottom: 11px;
  }

  button.ag-side-button-button {
    border: none;
    padding: 0;
  }

  .ag-side-button:last-child {
    margin-top: 43px;
  }
}

:host ::ng-deep .ag-set-filter-item {
  .ag-checkbox-input-wrapper input {
    width: 16px;
    height: 16px;
  }
  .ag-checkbox-input-wrapper.ag-checked::after {
    font-size: 12px;
    width: 10px;
    margin-left: 3px;
    margin-top: -1px;
  }
}

:host ::ng-deep {
  .ag-side-button-label,
  .ag-tool-panel-wrapper,
  .ag-group-title {
    color: #2f2f2f;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}

::ng-deep .expand-icon{
  position: absolute;
  left: 25px;
  height: 20px;
}

::ng-deep .row-expanded{
  transform: rotate(90deg);
}
