<div class="main-container create-new-group">
    <div class="append-container" #container></div>
    <div class="heading-text d-flex">
        <img src="assets/images/person-pin-outline-rounded.svg" alt="Bar-chart icon">
        <h1>{{pageTitle}}</h1>
    </div>

    <form [formGroup]="form" class="form-container" (ngSubmit)="onSave(form)">
        <kendo-formfield>
            <kendo-label class="label-text">Group Type</kendo-label>
            <kendo-dropdownlist 
                formControlName="groupType" 
                [data]="groupTypeList" 
                [valuePrimitive]=true
                textField="value"
                valueField="id"
                (open)="formDropDownOpen('groupType')"
                (close)="formDropDownClose('groupType')" 
                (valueChange)="onSelectioChange($event, 'group')" 
                class="dropdown"
                [class.data-selected]="isGroupOptionSelected"
                [class.dropdown-open]="isGroupDropDownOpen"
                [itemDisabled]="itemDisabled"
                [popupSettings]="{appendTo: 'component'}">
            </kendo-dropdownlist>
        </kendo-formfield>

        <div>
            <kendo-formfield *ngIf="isShowSelectClient">
                <kendo-label class="label-text">Select Client</kendo-label>
                <kendo-dropdownlist 
                    #clientDropdown
                    formControlName="selectedClient" 
                    [data]="clientList" 
                    [valuePrimitive]=true
                    textField="value" 
                    valueField="id" 
                    (open)="formDropDownOpen('selectClient')"
                    (close)="formDropDownClose('selectClient')" 
                    (valueChange)="onSelectioChange($event, 'client')"
                    class="dropdown" 
                    [class.data-selected]="isClientOptionSelected"
                    [class.dropdown-open]="isClientDropDownOpen"
                    [itemDisabled]="itemDisabled"
                    [popupSettings]="{appendTo: 'component'}">
                </kendo-dropdownlist>
            </kendo-formfield>
        </div>

        <div>
            <kendo-formfield *ngIf="isShowSelectClient">
                <kendo-label class="label-text">Group Default Franchise</kendo-label>
                <kendo-dropdownlist 
                    formControlName="defaultFranchise" 
                    [data]="defaultFranchiseList" 
                    [valuePrimitive]=true
                    textField="value" 
                    valueField="value" 
                    (open)="formDropDownOpen('franchiseCount')"
                    (close)="formDropDownClose('franchiseCount')" 
                    (valueChange)="onSelectioChange($event, 'franchise')"
                    class="dropdown" 
                    [class.dropdown-open]="isFranchiseDropDownOpen"
                    [popupSettings]="{appendTo: 'component'}">
                </kendo-dropdownlist>
            </kendo-formfield>
        </div>
        
        <kendo-formfield>
            <kendo-label class="label-text">Internal Name</kendo-label>
            <input formControlName="internalName" kendoTextBox class="input-box" />
        </kendo-formfield>

        <kendo-formfield>
            <kendo-label class="label-text">Display Name</kendo-label>
            <input formControlName="displayName" kendoTextBox class="input-box" />
        </kendo-formfield>

        <div class="input-container">
            <kendo-label class="label-text">Description</kendo-label>
            <kendo-textarea placeholder="Description..." resizable="none" formControlName="description"[rows]="5">
            </kendo-textarea>
        </div>

        <kendo-formfield>
            <kendo-label class="label-text">Excel Password</kendo-label>
            <input formControlName="excelPassword" kendoTextBox placeholder="Fk2xPeHcyZVGzVV" class="input-box" />
        </kendo-formfield>

        <kendo-formfield>
                <kendo-label class="label-text">Group Activation Date</kendo-label>
            <kendo-datepicker
                formControlName="effectiveDate"
                class="date-picker"
                [placeholder]="today"
            ></kendo-datepicker>
        </kendo-formfield>
    </form>

    <ng-template #selectionListRef>
        <div class="listbox-section">
            <div class="d-flex justify-content-end close-icon-div">
                <button class="btn dialog-close-icon" (click)="onPopupClose()">
                    <img src="../../.../../../../../assets/images/cancel-outline-rounded.svg" alt="close icon">
                </button>
            </div>
            <div class="listbox-section-heading">{{selectionHeading}}</div>
            <div class="listbox-section-subheading">Select the new client(s) you want to add</div>
            <div class="list-container d-flex gap-25 align-items-center">
                <div class="parent-list">
                    <div class="list-heading">{{parentListHeading}}</div>
                    <div class="light-border">
                        <kendo-treeview
                            kendoTreeViewHierarchyBinding
                            kendoTreeViewCheckable
                            [filterable]="true"
                            [nodes]="parentListData"
                            childrenField="items"
                            textField="text"
                            [(checkedKeys)]="checkedKeys"
                            [checkBy]="key"
                            [class.list-grayout]="isListDisabled">
                        </kendo-treeview>
    
                        <div class="total-section d-flex align-items-center" [class.list-disabled]="isListDisabled">
                            <input type="checkbox" #notification kendoCheckBox [checked]="checkedKeys.length === getTotalItemsCount([parentListData])"/>
                            <span>{{checkedKeys.length}} / {{ getTotalItemsCount(parentListData) }}</span>
                        </div>
                    </div>
                        
                </div>
    
                <div class="button-container" [class.list-disabled]="isListDisabled">
                    <button class="btn btn-light" (click)="onAddSelected()">Add Selected</button>
                    <button class="btn btn-light" (click)="onAddAll()">Add All</button>
                    <button class="btn btn-light" (click)="onRemoveSelected()">Remove Selected</button>
                    <button class="btn btn-light" (click)="onRemoveAll()">Remove All</button>
                </div>
    
                <div class="child-list">
                    <div class="list-heading">{{childListHeading}}</div>
                    <div class="light-border">
                        <kendo-treeview
                            kendoTreeViewHierarchyBinding
                            kendoTreeViewCheckable
                            [filterable]="true"
                            [nodes]="selectedData"
                            childrenField="items"
                            textField="text"
                            [(checkedKeys)]="childCheckedKeys"
                            [checkBy]="key"
                            [class.list-grayout]="isListDisabled">
                        </kendo-treeview>
                        <div class="total-section d-flex align-items-center" [class.list-disabled]="isListDisabled">
                            <input type="checkbox" #notification kendoCheckBox [checked]="childCheckedKeys.length === getTotalItemsCount(selectedData)"/>
                            <span>{{childCheckedKeys.length}} / {{ getTotalItemsCount(selectedData) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <button class="btn btn-save w-fit-content" (click)="onAddClientFranchise(selectionListRef)">Add Client/Franchise</button>

    <div class="table-section">
        <ag-grid-angular
            style="flex-grow: 1; height: 655px"
            class="ag-theme-balham ag-grid"
            [rowHeight]="36"
            [columnDefs]="columnDef"
            [autoGroupColumnDef]="autoGroupColDef"
            [treeData]="!!autoGroupColDef"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData"
            [gridOptions]="gridOptions"
            [sideBar]="sideBar"
            [rowSelection]="rowSelection"
            [enableCellChangeFlash]="true"
            (selectionChanged)="onRowSelectionChanged($event)"
            (toolPanelVisibleChanged)="onToolPanelVisibleChanged($event)"
            [pagination]="true"
            [paginationPageSize]="100"
            [paginateChildRows]="true"
            (paginationChanged)="onPaginationChanged($event)"
            (gridReady)="onGridReady($event)"
            >
        </ag-grid-angular>

        <div class="status-bar-text" *ngIf="selectedNodes.length > 0 && rowIndex !=null">
            <p>Rows: <span>{{rowIndex+1}} of {{totalRows}}</span></p>
        </div>
    
        <select
            class="items-dropdown"
            [(ngModel)]="selectedValue"
            (change)="onItemsPerPageChange(selectedValue)">
                <option
                    *ngFor="let option of paginationOptions"
                    [attr.selected]="option.value == 100"
                    [value]="option.value">
                {{ option.title }}
                </option>
        </select>
    </div>
    <div class="form-actions">
        <button class="btn btn-save" (click)="onSave(form)">Save</button>
        <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
    </div>
</div>