.header-wrapper {
  .roobrik-logo {
    width: 202px;
    height: 35px;

    @media screen and (max-width: 1366px) {
      height: 1.75rem;
      width: 10rem;
    }
  }
}

a {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 20px;
  padding-bottom: 4px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #165477;
    transition: width 0.3s;
  }

  &:hover::before,
  &.active-link::before {
    width: 100%;
  }

  &.link {
    font-size: 16px;
    color: #0a4569;
    cursor: pointer;
    font-weight: bold;

    &.link-reports {
      position: relative;
    }
  }
}

.popup {
  border: 1px solid rgba(black, 0.3);
  border-top: none;
  background-color: white;

  span {
    display: block;
    padding: 10px;
  }

  &.popup-reports {
    position: absolute;
    right: 39.7vw;
    width: 206px;
    height: 124px;
    color: #262626;
    font-size: 18px;
    z-index: 99;
    cursor: pointer;

    right: 45vw;
    @media screen and (min-width: 1500px) {
      right: 39.5vw;
    }
    @media screen and (min-width: 1600px) {
      right: 38.5vw;
    }

    @media screen and (min-width: 1700px) {
      right: 37.5vw;
    }
    @media screen and (min-width: 1800px) {
      right: 35.5vw;
    }

    span {
      line-height: 17px;
      padding: 23px 10px 22px;
      height: 62px;
    }
  }

  &.popup-info {
    position: absolute;
    padding-bottom: 25px !important;
    padding-top: 23px !important;
    width: 293px;
    height: 179px;
    right: 13vw;

    @media screen and (min-width: 1500px) {
      right: 14vw;
    }

    .info-border-bottom span {
      padding: 0;
      padding-bottom: 10px;
      color: #2d2d2d;
      font-size: 18px;
    }

    .text-secondary {
      font-size: 14px;
      color: #2d2d2d;
    }

    img {
      height: 44px;
      width: 44px;
    }

    .personal-content {
      width: 55px;
      height: 55px;
    }

    .user-name {
      font-weight: bold;
      color: #2d2d2d;
    }

    .email {
      font-size: 14px;
      color: #008dcc !important;
    }

    &:hover {
      background-color: #efefef;
    }
  }

  &.popup-profile {
    position: absolute;
    right: 9vw;
    width: 202px;
    height: 186px;
    z-index: 99;

    @media screen and (min-width: 1500px) {
      right: 10vw;
    }

    @media screen and (min-width: 1920px) {
      width: 192px;
    }

    span {
      padding: 15px 15px 15px 15px;
      color: #2d2d2d;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.info-btn {
  position: relative;
  background-color: #e5e5e5 !important;
  color: #215777 !important;
  font-size: 18px;
  font-weight: 600;

  @media screen and (min-width: 1500px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1800px) {
    font-size: 28px;
  }

  &:hover,
  &.active {
    background-color: #7b7b7b !important;
    color: #fff !important;
  }
}

.logo-container {
  @media screen and (max-width: 1366px) {
    margin-left: 7.06rem;
  }
}

.nav-profile-container {
  gap: 2.19rem; //2.18

  @media screen and (max-width: 1250px) {
    gap: 1.19rem;
  }

  div {
    gap: 5.56rem;

    @media screen and (max-width: 1250px) {
      gap: 4.5rem;
    }
  }
  nav {
    gap: 6.25rem;

    @media screen and (max-width: 1300px) {
      gap: 6vw;
    }
  }
}

.profile-btn {
  position: relative;
  background-color: #0a4569 !important;
  color: #ffffff !important;

  &:hover,
  &.active {
    background-color: #3d9ad3 !important;
  }

  @media screen and (min-width: 1500px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1800px) {
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 1px;
  }
}

.arrow {
  transform: rotate(270deg);
  margin-left: 22px;
  margin-bottom: 4px;
  position: relative;
}

.arrow::before {
  content: " ";
  border-left: 2px solid #165477;
  border-bottom: 2px solid #165477;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  cursor: pointer;
  display: block;
}

.nav {
  height: 120px;

  @media screen and (max-width: 1366px) {
    gap: 11.56rem;
  }

  @media screen and (max-width: 1350px) {
    gap: 9.5rem;
  }

  @media screen and (max-width: 1250px) {
    gap: 8.5rem;
  }
}

.action-btn {
  height: 2.91vw;
  width: 2.91vw;

  @media screen and (min-width: 1920px) {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.profile-btns {
  gap: 0.875rem;
}

.nav:first-child {
  @media (min-width: 1367px) {
    margin: 0 113px !important;
  }

  @media (min-width: 1920px) {
    width: 1694px !important;
    margin: 0 auto !important;
  }
}


.profile-link {
  padding-bottom: 0;
}
