@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
.k-window {
  width: 300px !important;
}
.container {
  padding: 10px 0 0 0;

  .dialog-title {
    color: #083754;
    font-weight: 700;
    font-size: 32px;
    line-height: 36.8px;
    text-align: center;
    margin: 0px 0 58px 0;
  }
  .icon {
    width: 30.28px;
    height: 30.28px;
  }
  .grid-layout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .card-box {
      display: contents;
    }
    .img-box {
      margin-bottom: 35px;
    }
    .img-card {
      width: 135px;
      height: 82px;
      object-fit: contain;
    }

    .cmp-title {
      color: #999999c6;
      font-family: "Helvetica";
      font-size: 18px;
      // height: 100px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .btn-select {
      font-family: "Helvetica", sans-serif;
      font-weight: 400;
      background-color: #083754;
      color: white;
      font-size: 18px;
      border: none;
      width: 170px;
      height: 44px;
      border-radius: 0;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
}

.card-body {
  height: 194px;
  width: 170px
}

.container-center {
  height: 969px;
}


:host ::ng-deep .k-dialog-wrapper .k-window {
  width: 752px !important;
  height: 518px !important ;
}
