@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

.dialog-container {

  .dialog-title {
    color: #083754;
    font-weight: 700;
    font-size: 32px;
    line-height: normal;
    text-align: center;
    margin: 13px 0 63px 0;
  }

  .icon {
    width: 30.28px;
    height: 30.28px;
  }

  .grid-layout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .k-grid-layout{
      background-color: #F9F9F9 !important;
    }
    .card-box {
      display: contents;
    }
    .img-box {
      margin-bottom: 35px;
    }
    .img-card {
      width: 135px;
      height: 82px;
      object-fit: contain;
    }

    .cmp-title {
      color: #999999c6;
      font-family: "Helvetica";
      font-size: 15px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .btn-select {
      font-family: "Helvetica", sans-serif;
      font-weight: 400;
      background-color: #083754;
      color: white;
      font-size: 18px;
      border: none;
      width: 170px;
      height: 44px;
      border-radius: 0;
      text-transform: uppercase;
    }
  }
}

.card-body {
  height: 194px;
  width: 170px;  
}

.container-center {
  height: 969px;
}

.custom-margin{
  margin-top: 27px;
  margin-right: 22px;
}

::ng-deep .switch-account-dialog .k-window{
  width: 752px !important;
  height: 518px !important;
  background:#F9F9F9 !important ;
}

::ng-deep .k-window .k-window-content{
  padding: 0 !important;
}

::ng-deep .k-card{
  border-radius: 0 !important;
  border: 1px solid #D8D8D8;
  margin-bottom: 24px !important;
}