<div class="footer-wrapper d-flex justify-content-between align-items-center m-auto">
  <div class="footer-logo">
    <img src="assets/images/roobrik_color_horizontal.png">
  </div>
  <div class="footer-content  d-flex align-items-center">
    <nav>
        <ul class="d-flex justify-content-center">
            <li class="contact-us"><a href="#">Contact us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
        </ul>
    </nav>
  </div>
</div>