
.footer-wrapper {
  background: #F6F6F6;
  padding: 73px 8.75vw 54px 9.85vw;

  @media screen and (min-width: 1920px) {
    padding: 73px 168px 54px 189px;
  }

  .footer-logo {
    img {
      height: 30px;
    }
  }

  .footer-content {
    gap: 50px;
  }
}

nav ul {
  list-style-type: none;
  gap: 4.47vw;

  .contact-us{
    margin-right: 20px;
  }
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  letter-spacing: 0.5px;
}
