.container {
  margin: 0;
  padding: 0;
  min-width: 99vw;

  @media screen and (min-width: 1921px) {
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.form {
  padding: 14.625rem 0 0 7.125rem;
}

.logo {
  height: 48px;
  width: 276px;
}

.main-img {
  max-width: 50%;
  height: 1080px;

  @media screen and (min-width: 1921px) {
    min-width: 875px;
    height: 1080px;
  }
}

.title {
  margin-top: 75px;
  color: #0a4569;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.form-input {
  width: 303px;
  height: 42px;
  border-radius: 0;
  border: 1px solid #707070;
}

.k-form-label {
  color: #495057;
}

.k-form-fieldset{
  margin-top: 0;
}

.password-label {
  margin-top: 3.875rem;
}

.confirm-password-label {
  margin-top: 1.655rem;
}

.btn-save {
  width: 303px;
  height: 52px;
  border-radius: 0;
  background-color: #0b4569;
  color: white;
  font-weight: normal;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 100;
  padding: 22px 124.5px 16px;

  &--saved {
    color: #fff;
    text-decoration: none;
    padding: 19px 124.5px;
    width: 317px;
    margin-top: 74px;
  }
}

.forgot-password {
  color: #727272;
  text-decoration: underline;
  margin-top: 44px;
  font-size: 16px;
}

.need-help {
  color: #727272;
  margin-top: 73.5px;
}

.email-team {
  text-decoration: underline;
}

.form-input {
  margin-top: 8.5px;
}

.input-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute !important;
  top: 57%;
  right: 82px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9f9f9f;

  @media screen and (min-width: 1921px) {
    right: 42px;
  }
}

.confirm-password-container {
  margin-top: 26.48px;
}

.form-label {
  color: #495057;
  font-size: 16px;
}

.error-message {
  margin-top: 6.5px;
  font-style: normal;
  color: #cc0027;
}

.error {
  width: 319px;
  height: 44px;
  background-color: #ec8a0c;
  color: white;
  align-items: center;
  padding-left: 15px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 44px;

  span {
    font-size: 14px;
    font-weight: 100;
  }
}

.fa-exclamation-triangle {
  font-size: 22px;
  margin-right: 5px;
}

.cross-icon {
  height: 25px !important;
  width: 25px !important;
  margin-left: 20px;
  cursor: pointer;
}

input:required:invalid {
  border: 1px solid #707070;
}

.validators-list {
  margin-top: 32px;
}

.validator {
  gap: 9.5px;
  &:not(:first-child) {
    margin-top: 6px;
  }
}

.validator-text {
  color: #707070;
}

.status-none {
  content: "";
  border: 2px solid #707070;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  align-self: center;
}

.validator-icon {
  height: 6.5px !important;
  width: 6.5px !important;
}

.password-saved {
  width: 318.62px;
  height: 44px;
  background-color: #237b4b;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 51.92px !important;

  span {
    font-size: 14px;
  }
}

.fa-check-circle {
  font-size: 23px;
  margin-left: 14px;
  margin-right: 10px;
}

.validator-img {
  height: 16px;
  width: 16px;
  margin-top: 2.5px;
}