<div class="container d-flex">
  <img class="main-img" src="assets/images/login-image.png" />
  <div class="form">
    <img class="logo" src="assets/images/roobrik_color_horizontal.png" />
    <div class="title">Choose a new password</div>
    <form class="k-form k-form-md" [formGroup]="resetPasswordForm">
      <div *ngIf="!saved">
        <fieldset class="k-form-fieldset">
          <kendo-formfield class="form-field">
            <kendo-label
              [for]="password"
              class="form-label password-label"
              labelCssClass="k-form-label"
              >New Password</kendo-label
            >
            <div class="input-wrapper">
              <input
                kendoTextBox
                formControlName="password"
                class="form-input"
                kendoTextBox
                [type]="showPassword ? 'text' : 'password'"
                #password
                required
              />
              <i
                class="fa fa-eye-slash eye-icon"
                (click)="passwordToggle(false)"
                *ngIf="!showPassword"
              ></i>
              <i
                class="fa fa-eye eye-icon"
                (click)="passwordToggle(false)"
                *ngIf="showPassword"
              ></i>
            </div>
            <kendo-formerror class="error-message" error="required">
              This is a required field.</kendo-formerror
            >
          </kendo-formfield>
          <div class="confirm-password-container">
            <kendo-formfield class="form-field">
              <kendo-label
                [for]="confirmPassword"
                labelCssClass="k-form-label"
                class="form-label confirm-password-label"
                >Confirm new password</kendo-label
              >
              <div class="input-wrapper">
                <input
                  kendoTextBox
                  formControlName="confirmPassword"
                  class="form-input email-input"
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  kendoTextBox
                  #confirmPassword
                  required
                />
                <i
                  class="fa fa-eye-slash eye-icon"
                  (click)="passwordToggle(true)"
                  *ngIf="!showConfirmPassword"
                ></i>
                <i
                  class="fa fa-eye eye-icon"
                  (click)="passwordToggle(true)"
                  *ngIf="showConfirmPassword"
                ></i>
              </div>
              <kendo-formerror class="error-message" error="required">
                This is a required field.</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </fieldset>

        <div class="validators-list">
          <div
            class="validator d-flex"
            *ngFor="let validator of validatorsList"
          >
            <div
              class="status-none"
              *ngIf="validator.status == undefined"
            ></div>
            <img
              src="../../../../assets/images/right-icon-green.png"
              class="validator-img validator-img--true"
              *ngIf="validator.status == true"
            />
            <img
              src="../../../../assets/images/wrong-icon-red.png"
              class="validator-img validator-img--false"
              *ngIf="validator.status == false"
            />
            <span
              class="validator-text"
              [style.color]="
                validator.status == true
                  ? '#799C3E'
                  : validator.status == false
                  ? '#CC0027'
                  : '#707070'
              "
              >{{ validator.name }}</span
            >
          </div>
        </div>
      </div>
      <div *ngIf="saved && !notiClosed" (click) = "closeNotification()" class="password-saved">
        <i class="fas fa-check-circle"></i>
        <span>Your password has been updated</span>
        <img class="cross-icon" src="../../../../assets/images/times-icon.svg"/>
      </div>
      <div class="k-form-buttons">
        <button kendoButton class="btn-save" *ngIf="!saved" (click)="submitForm()">
          SAVE & LOG IN
        </button>
        <button kendoButton class="btn-save btn-save--saved" routerLink="/login" *ngIf="saved" (click)="submitForm()">
            LOG IN
          </button>
      </div>
      <div class="need-help">
        Need help? <span class="email-team">Email the Roobrik team.</span>
      </div>
    </form>
  </div>
</div>
