h1,p{
    margin: 0;
}

input,
select,
button:focus {
  outline: none;
}

.main-container {
    padding: 42px 104px 165px 113px;

    @media (min-width: 1920px) {
        width: 1694px !important;
        margin: 33px auto 42px !important;
        padding: 42px 0px 165px 0px;
    }
}

.section-header{
    margin-top: 27px; 
    display: flex;
    justify-content: space-between;

    .heading-text{
        gap: 14px;
        align-items: center;

        img{
            width: 35px;
            height: 35px;
        }
    
        h1{
            color: #2E2E2E;
            font-family: 'Proxima Nova';
            font-size: 24px;
            font-weight: 700;
        }
    }

    .search-section{
        display: flex;
        gap: 20px;
        align-items: center;

        @media (max-width:1300px) {
            gap: 5px;
        }

        .input-container{
            position: relative;

            img{
                width: 16px;
                height: 16px;
                position: absolute;
                top: 9px;
                left: 12px;
            }

            input{
                width: 507px;
                padding: 8px 36px;
                color: #808080;
                font-family:'Proxima Nova';
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                border-radius: 4px;
                border: 1px solid #DFDFDF;
                background:  #FFF;

                @media (max-width:1300px) {
                    width: 400px;
                }
            }
        }

        .btn-create-new{
            display: flex;
            height: 32px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: #296689;
            padding: 8px 14px 8px 15px;
            text-transform: uppercase;
            font-family: 'Proxima Nova';
            color: #FFF;
            font-size: 12px;
            line-height: 16px;
        }

        .btn-export{
            display: flex;
            width: 92px;
            height: 32px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            background: #e4eff3;
            padding: 8px 14px 8px 15px;
            text-transform: uppercase;
            font-family: 'Proxima Nova';
            color: #296689;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px; 
        }

        .btn-undo-redo {
            background-color: #f5f7f7;
            font-size: 12px;
            color: #2F2F2F;
            width: max-content;
        }

        .undo-redo-icon {
            width: 20px;
        }
    }
}

::-webkit-input-placeholder{
    color: #808080;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.table-section{
    margin-top: 24px;
    position: relative;
}

.ag-theme-balham {
    --ag-selected-row-background-color: #f3f6f7 !important;
    --ag-row-hover-color: none !important;
    --ag-input-focus-box-shadow: 0 0 2px 1px transparent !important;
}

:host ::ng-deep{
    .ag-header-row {
        color: #2A2A2A;
        font-family: 'Proxima Nova';
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    .ag-row-odd {
        background: none;
    }

    .ag-row-selected::before {
        background-color: transparent;
    }

    .ag-cell {
        display: flex;
        align-items: center;
        font-family:'Proxima Nova';
        font-size: 14px;
        font-weight: 400;
    }

    // FLOATING FILTER
    .ag-floating-filter {
        border-top: none !important;
        &::after {
        display: none;
        }
    }

    .ag-floating-filter-button {
        margin-left: unset;
    }

    .ag-icon-filter::before {
        content: url("/assets/images/floating-filter-icon.svg");
    }

    .ag-header-row-column-filter {
        background-color: #fff;

        .ag-floating-filter input {
            background-color: #fff;
            border: none;
            border-bottom: 1px solid #dfdfdf;
        }
    }

    .ag-ltr .ag-header-expand-icon{
        padding-left: 5px;
    }

    .ag-header-expand-icon-collapsed .ag-icon-contracted::before{
        content: url("/assets/images/chevron-right-icon.svg");
    }
    .ag-icon-expanded::before{
        content: url("/assets/images/chevron-left.svg");
    }

    .ag-icon-contracted{
        margin-top: -4px;
    }

    .ag-icon-expanded{
        margin-top: -8px;
    }

    .ag-column-panel-column-select{
        border-top: none;
    }

    .ag-column-select-header-icon .ag-icon-tree-open,
    .ag-column-select-column-group .ag-icon-tree-open,
    .ag-filter-toolpanel-group-title-bar-icon,
    .ag-filter-toolpanel-expand{
        margin-top: -6px;
    }

    .ag-column-select-header-icon .ag-icon-tree-closed,
    .ag-filter-toolpanel-group-title-bar-icon .ag-icon-tree-open,
    .ag-filter-toolpanel-expand .ag-icon-tree-open{
        margin-top: -3px;
    }

    .ag-column-select-column-group .ag-icon-tree-closed{
        margin-top: -5px;
    }
}

// CHECKBOX //
:host ::ng-deep .ag-pinned-left-header {
    .ag-checkbox-input {
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
    }
  
    .ag-header-select-all {
      margin-right: 5px;
    }
  
    .ag-checkbox-input-wrapper:active {
      box-shadow: none;
    }
    .ag-checkbox-input-wrapper {
      background-color: transparent !important;
    }
  
    .ag-checkbox-input-wrapper::after {
      display: block;
      content: url("/assets/images/chevron-right-icon.svg");
      background: fixed;
      background-size: cover;
      margin-left: 2px;
      margin-top: -2px;
    }
  
    .ag-checkbox-input-wrapper.icon-clicked::after {
      display: block;
      content: url("/assets/images/chevron-down-icon.svg");
      background: fixed;
      background-size: cover;
      margin-left: 0;
      margin-top: -4px;
    }
}

// RESET BUTTON //
.resetButton {
    position: absolute;
    background-color: #f7f7f7;
    border-right: 1px solid rgb(189, 195, 199) !important;
    height: 63px;
    width: 87.5%;
    border: 0;
    font-size: 14px;
    color: #0a4569;
    font-weight: 700;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(189,195,199);

    &:hover {
      background: #c8d3dc !important;
    }
}

// FLY OUT PANEL//
:host ::ng-deep {
    .ag-side-bar {
        padding: 0 4px 0px 0px;
        position: relative;
    }

    .ag-side-button-label,
    .ag-tool-panel-wrapper,
    .ag-group-title {
        color: #2a2a2a;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    .ag-side-buttons {
        padding-top: 0;
        margin-top: 33px;
        margin-left: 5px;
    }

    .ag-side-button .ag-icon-columns::before {
        content: url("/assets/images/column-icon-dark.svg");
    }

    .ag-side-button .ag-icon-filter::before {
        content: url("/assets/images/floating-filter-icon.svg");
    }

    .ag-side-button-icon-wrapper {
        margin-bottom: 4px;
    }

    button.ag-side-button-button {
        border: none;
        padding: 0;
    }

    .ag-side-button:last-child {
        margin-top: 31px;
    }

    .ag-side-bar-right .ag-tool-panel-wrapper {
        margin-top: 63px;
    }
}
// PAGING PANEL 
.items-dropdown {
    position: absolute;
    bottom: 10px;
    left: 24px;
    background: none;
    border: none;
    color: #2A2A2A;

    font-family: 'Proxima Nova';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}


:host ::ng-deep {
    .ag-paging-panel{
        height: 37px;
        background: #F3F6F7;
        padding: 11px 25px 11px 24px;
        color: #2A2A2A;
        font-family: 'Proxima Nova';
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; 
    }

    .ag-paging-row-summary-panel {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .ag-paging-page-summary-panel {
        position: absolute;
        right: 12px;
    }

    .ag-icon::before {
        color: #296689 !important;
    }
  
    .ag-paging-button.ag-disabled {
        opacity: 0.4;
    }
}

// SCROLLBAR //
:host ::ng-deep {
    .ag-ltr .ag-body-vertical-scroll.ag-scrollbar-invisible {
      right: 4px;
    }
    .ag-root ::-webkit-scrollbar {
      width: 6px !important;
      height: 6px !important;
      margin-right: 2px;
      z-index: 99;
    }
  
    .ag-root ::-webkit-scrollbar-thumb {
      background-color: #d9d9d9;
      border-radius: 6px;
    }
  
    .ag-body-vertical-scroll {
      right: 5px;
      position: absolute !important;
    }
  }
// STATUSBAR //
:host ::ng-deep {
    .ag-status-name-value {
      color: #2a2a2a;
      font-family: "Proxima Nova";
      font-size: 12px;
      line-height: 16px;
      padding: 0;
    }
  
    .ag-status-name-value-value {
      font-weight: 700;
    }
  
    .ag-status-name-value span:first-child {
      font-weight: 400;
    }
  
    .ag-status-bar {
      min-height: 37px;
      padding: 11px 25px;
    }
}

.status-bar-text {
    position: absolute;
    left: 24px;
    bottom: 48px;
  
    p {
        color: #2A2A2A;
        font-family: 'Proxima Nova';
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
  
    span {
      font-weight: 700;
    }
}

// UNSAVED CHNAGES POPUP
::ng-deep {
    .ok-btn{
        display: flex;
        height: 32px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: #296689;
        padding: 8px 14px 8px 15px;
        text-transform: uppercase;
        font-family: 'Proxima Nova';
        color: #FFF;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;

        &:hover {
            background: #296689;
        }
    }

    .cancel-btn {
        display: flex;
        width: 92px;
        height: 32px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: #e4eff3;
        padding: 8px 14px 8px 15px;
        text-transform: uppercase;
        font-family: 'Proxima Nova';
        color: #296689;
        font-size: 14px;
        font-weight: 800;
        line-height: 16px;

        &:hover {
            background: #e4eff3;
        }
    }

    .k-dialog-wrapper .k-dialog {
        padding: 20px;
        border-radius: 5px;
    }

    .k-dialog-actions {
        width: 65% !important;
        border: transparent !important;
        padding-inline: 16px !important;
    }

    .k-window-title {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 20px;
        border-bottom: 2px solid #DADADA;
    }

    .k-window-titlebar {
        padding: 12px 0px 12px 12px;
    }

    .k-dialog-titlebar {
        background-color: transparent;
        border-bottom: 2px solid #fafafa;
    }

    .k-window-content {
        font-weight: 600;
        margin-bottom: 15px;
    }

    .k-window-titlebar-actions {
        padding-bottom: 30px !important;
    }

    .k-button-md.k-icon-button .k-button-icon {
        border-radius: 50% !important;
        border: 2px solid black !important;
        height: 16px;
        width: 16px;
    }
}

:host ::ng-deep .delete-popup .k-svg-i-x {
    content: unset !important;
}

.append-container {
    width: 500px;
    margin: 0 auto;
    min-height: 0 !important;
    position: unset !important;
}

:host ::ng-deep .k-notification-container{
    margin-block: unset;
    margin-inline: unset;
   &:first-child{
       margin-top: -52px !important;
   }
}

:host ::ng-deep {
    .k-notification-group {
        flex-flow: column !important;
        display: flex;
        gap: 5px;
    }

    .k-notification{
        border: none;
        border-radius: 0;
        padding: 6px 0 6px 16px;
        box-shadow: none;
    }

    .k-notification-container{
         margin-block: unset;
         margin-inline: unset;
        &:first-child{
            margin-top: -33px;
        }
    }

    .k-notification-success{
        background-color: #237B4B;
    }

    .k-notification-warning{
        background-color: #EC8A0C;
        color: #FFF;
    }

    .k-notification-error{
        background-color: #D91E37;
    }

    .k-notification-info{
        border: 1px solid #D1D1D1 !important;
        background-color: #EBEBEB;
        color: #000;

        & .message-text, & .message-text span {
            color: #000 !important;
        }

        & .k-svg-i-x{
            content:  url('/assets/images/close-icon-black.svg');
        }
    }

    .k-notification-content .k-image{
        height: 40px;
    }

    .k-svg-i-x{
        content:  url('/assets/images/close-icon.svg');
        height: 40px;
        width: 40px;
    }
}

::ng-deep .k-dialog-wrapper .k-button-md.k-icon-button .k-button-icon {
    border: none !important ;
    width: 35px !important;
    height: 35px !important;
}

::ng-deep .k-dialog-wrapper .k-svg-i-x{
    content:  url('/assets/images/close-icon-black.svg');
}
