<div class="main-container">
    <div class="section-header">
        <div class="heading-text d-flex">
            <img src="assets/images/person-pin-outline-rounded.svg" alt="Bar-chart icon">
            <h1>{{clientName}}</h1>
        </div>
        <div class="search-section">
            <div class="input-container">
                <input
                    type="text"
                    placeholder="Search"
                    id="filter-text-box"
                    (input)="onSearch()"
                >
                <img src="assets/images/search-icon.png" alt="Search icon">
            </div>
            <button class="btn btn-export" (click)="onAddNewRow()">ADD ROW</button>
            <button class="btn btn-create-new" (click)="onSaveChanges()">SAVE</button>
        </div>
    </div>

    <div class="table-section">
        <ag-grid-angular
            style="flex-grow: 1; height: 655px"
            class="ag-theme-balham ag-grid"
            [rowHeight]="36"
            [columnDefs]="columnDef"
            [rowData]="rowData"
            [defaultColDef]="defaultColDef"
            [gridOptions]="gridOptions"
            [sideBar]="sideBar"
            [rowSelection]="rowSelection"
            [autoGroupColumnDef]="autoGroupColumnDef"
            [treeData]="true"
            [groupSelectsChildren]="true"
            [getDataPath]="getDataPath"
            [enableRangeSelection]="true"
            [enableFillHandle]="true"
            [undoRedoCellEditing]="true"
            [undoRedoCellEditingLimit]="undoRedoCellEditingLimit"
            [enableCellChangeFlash]="true"
            (cellValueChanged)="onCellValueChanged($event)"
            (selectionChanged)="onSelectionChanged($event)"
            (toolPanelVisibleChanged)="onToolPanelVisibleChanged($event)"
            [pagination]="true"
            (cellValueChanged)="onCellValueChanged($event)"
            [groupDefaultExpanded]="groupDefaultExpanded"
            (filterChanged)="onFilterChanged($event)"
            (gridReady)="onGridReady($event)"
            >
        </ag-grid-angular>

        <div class="status-bar-text" *ngIf="selectedNodes.length > 0 && rowIndex !=null">
            <p>Rows: <span>{{rowIndex+1}} of {{totalRows}}</span></p>
        </div>

        <select
            class="items-dropdown"
            [(ngModel)]="selectedValue"
            (change)="onItemsPerPageChange(selectedValue)"
        >
            <option
            *ngFor="let option of paginationOptions"
            [attr.selected]="option.value == 10"
            [value]="option.value"
            >
            {{ option.title }}
            </option>
        </select>
    </div>
</div>
