h1,p{
    margin: 0;
}

input,
select,
button:focus {
  outline: none;
}

.main-container {
    padding: 22px 24px 165px 30px;

    @media (min-width: 1920px) {
        margin: 22px 24px 165px 30px !important;
        padding: 0px;
    }
}

.saas-revenue-table .btn-create-new{
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #296689;
    padding: 8px 14px 8px 15px;
    text-transform: uppercase;
    font-family: 'Proxima Nova';
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
}

.saas-revenue-table .btn-export{
    display: flex;
    width: 92px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #e4eff3;
    padding: 8px 14px 8px 15px;
    text-transform: uppercase;
    font-family: 'Proxima Nova';
    color: #296689;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px; 
}

.section-navbar{
    padding: 15px 29px;
    border: 1px solid #BBB;
    background: #E0E2E3;

    &-text{
        color: #2E2E2E;
        font-family: 'Proxima Nova';
        font-size: 14px;
        font-weight: 700;
    }
}

.section-header{
    display: flex;
    justify-content: space-between;

    .heading-text{
        gap: 14px;
        align-items: center;

        img{
            width: 27px;
            height: 24px;
        }
    
        h1{
            color: #2E2E2E;
            font-family: 'Proxima Nova';
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    .search-section{
        display: flex;
        gap: 20px;
        align-items: center;

        @media (max-width: 1300px) {
            gap: 10px;
        }

        .input-container{
            position: relative;

            img{
                width: 16px;
                height: 16px;
                position: absolute;
                top: 9px;
                left: 12px;
            }

            input{
                width: 507px;
                padding: 8px 36px;
                color: #808080;
                font-family:'Proxima Nova';
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                border-radius: 4px;
                border: 1px solid #DFDFDF;
                background:  #FFF;

                @media (max-width: 1300px) {
                    width: 400px;
                }
            }
        }
    }
}

::-webkit-input-placeholder{
    color: #808080;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.table-section{
    margin-top: 24px;
    position: relative;
}

// TABLE STYLE //
:host ::ng-deep{
    // FOR CHILD COUNT // 
    .ag-group-child-count {
       display: none !important;
   }

   .ag-cell-wrapper {
       align-items: center !important;
   }
}

// CHECKBOX //
:host ::ng-deep .ag-pinned-left-header {
    .ag-checkbox-input {
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
    }
  
    .ag-header-select-all {
      margin-right: 5px;
    }
  
    .ag-checkbox-input-wrapper:active {
      box-shadow: none;
    }
    .ag-checkbox-input-wrapper {
      background-color: transparent !important;
    }
  
    .ag-checkbox-input-wrapper::after {
      display: block;
      content: url("../../../../assets/images/chevron-right-icon.svg");
      background: fixed;
      background-size: cover;
      margin-left: 2px;
      margin-top: -2px;
    }
  
    .ag-checkbox-input-wrapper.icon-clicked::after {
      display: block;
      content: url("../../../../assets/images/chevron-down-icon.svg");
      background: fixed;
      background-size: cover;
      margin-left: 0;
      margin-top: -4px;
    }
}



//PARENT LINK
  :host ::ng-deep .parent-link{
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

:host ::ng-deep .parent-link-color{
    color: #446a94;
}

:host ::ng-deep .parent-link-inactive{
    color:#a7b8cc;
}

::ng-deep .hide-header-name .ag-header-cell-comp-wrapper .ag-cell-label-container .ag-header-cell-label .ag-header-cell-text{
    display: none;
}

.btn-add-year {
    background-color: #f5f7f7;
    font-size: 12px;
    color: #2F2F2F;
    text-transform: uppercase;
}