p{
    margin: 0;
}

.custom-dropdown{
    width: fit-content;
    border: none;
    background: none;
    box-shadow: none;
}

:host ::ng-deep{
    .k-input-inner{
        display: none;
    }
    
    .custom-dropdown .k-button-md.k-icon-button .k-button-icon > svg{
        display: none;
    }

    .custom-dropdown .k-button-md.k-icon-button .k-button-icon {
        content: url('/assets/images/three-dots.png');
    }

    .custom-dropdown .k-button-md.k-icon-button .k-button-icon {
        border: none !important;
    }
}

::ng-deep {
    .k-list-item.k-focus{
        box-shadow: none !important;
    }
    .k-animation-container{
        position: absolute !important;
        width: fit-content !important;
    }

    .k-list-content{
        padding: 5px;
    }

    .k-list-content .k-list-item.k-selected{
        background: #0B4569;
    }
}