.ag-theme-balham {
  --ag-selected-row-background-color: none !important;
  --ag-row-hover-color: none !important;
}

.main-container {
  padding: 33px 113px 42px;
  position: relative;

  @media (min-width: 1920px) {
    width: 1694px !important;
    margin: 40px auto !important;
    padding: 0;
  }
}

h1,
p {
  margin: 0;
}
.section-header {
  color: #0a4569;
  font-size: 32px;
  font-weight: 700;
  transition: all 0.4s;
}

.search-section {
  align-items: center;
  gap: 29px;
  margin-top: 31px;
  // border: 1px solid #DFDFDF;

  & button {
    padding: 11px 20px;
    background: #0b4569;
    color: #fff;
    border: none;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  & .input-container {
    position: relative;
    flex-grow: 1;
    border: 1px solid #dfdfdf;
    border-radius: 4px;

    & input {
      padding: 12.25px 45.8px 10.25px;
      color: #808080;
      font-family: Helvetica;
      font-size: 18px;
      font-weight: 400;
      border-radius: 4px;
    }

    & img {
      width: 27.141px;
      height: 26.25px;
      position: absolute;
      top: 13px;
      left: 12px;
    }
  }
}

.selected-section {
  margin-top: 18px;
  padding: 8px 23px;
  border: 1px solid #d0d0d0;
  background: #f5f5f5;
  font-size: 14px;
  gap: 26px;

  span {
    font-weight: 600;
    color: #444 !important;
  }

  & .buttons {
    border: none;
    color: #878787;
    font-family: Helvetica Neue;
    font-weight: 500;
    line-height: 32px;
    height: 32px;
    background: transparent;
  }

  & .btn-deactivate {
    background: #083754;
    color: #fff;
    font-weight: normal;
    // line-height: 32px;
    height: 32px;
    border-radius: 0;
    margin-left: 26px;
  }
}

.league-table {
  margin-top: 18px;
  height: 695px;
}

.ag-grid {
  height: 695px !important;
}

.ag-grid-table {
  width: 100% !important;
  height: 100% !important;
  flex-grow: 1 !important;
}

:host ::ng-deep .ag-center-cols-viewport {
  width: 70%;
}

:host ::ng-deep .league-table {
  width: 100%;
  & .ag-ltr .ag-header-cell::after {
    display: none;
  }

  & .ag-ltr .ag-cell {
    display: flex;
    align-items: center;
    color: #2a2a2a;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
  }

  & .ag-pinned-left-cols-container {
    width: 20% !important;
    min-width: 300px !important;
    max-width: unset !important;
  }

  & .ag-pinned-left-cols-container .ag-cell {
    &:first-child {
      padding-left: 20px;
    }
  }

  & .ag-header-row {
    padding: 13px 15px;
    color: #2f2f2f;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    background: #f7f7f7;
  }

  & .ag-row-odd {
    background-color: #fff;
  }

  & .ag-pinned-left-header .ag-header-cell:first-child {
    padding-left: 20px !important;
  }

  & .ag-ltr .ag-selection-checkbox,
  & .ag-ltr .ag-header-select-all {
    margin-right: 20px !important;
  }

  & .btn-status {
    padding-bottom: 0px !important;
  }

  & .ag-cell-focus {
    border: none !important;
  }

  & .ag-row-selected::before {
    background-color: white !important;
  }

  & .ag-row-focus {
    background-color: #fff;
  }

  & .ag-paging-panel {
    padding: 16px 28px;
    background: #fcfcfc;
    height: 48px;
    color: #000;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    & .ag-paging-row-summary-panel {
      display: none;
    }

    & .ag-icon::before {
      color: #296689 !important;
    }

    & .ag-paging-button.ag-disabled {
      opacity: 0.4;
    }
  }

  & .header-text span {
    margin-right: 20px !important;
  }

  &
    .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(
      .ag-cell-range-single-cell
    ) {
    border-right: none !important;
  }
}

:host ::ng-deep .league-table .user-status {
  margin: 0;
  border-radius: 5px;
  background: #d9d9d9 !important;
  color: #4e4e4e;
  font-family: Helvetica;
  font-size: 10px;
  font-weight: 400;
  line-height: 32px;
  height: 19px;
  margin-bottom: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53.106px;
  visibility: hidden;
}

:host ::ng-deep .league-table .status-div:hover .user-status {
  visibility: visible !important;
}

// STICKY COLUMS AND ROW //

:host ::ng-deep .ag-pinned-left-header {
  width: 20% !important;
  min-width: 300px !important;
  max-width: unset !important;
}

:host ::ng-deep .ag-header-viewport {
  width: 70%;
}

:host ::ng-deep .ag-pinned-left-header,
:host
  ::ng-deep
  .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(
    .ag-cell-range-single-cell
  ) {
  border-right: none !important;
}

:host ::ng-deep .ag-pinned-right-header,
:host
  ::ng-deep
  .ag-cell.ag-cell-first-right-pinned:not(.ag-cell-range-left):not(
    .ag-cell-range-single-cell
  ) {
  border-left: none !important;
}

:host ::ng-deep .league-table .ag-center-cols-container {
  margin-right: 0 !important;
  // width: auto !important;
}

// Pined right column
:host ::ng-deep {
  .ag-pinned-right-cols-container {
    width: 10% !important;
    min-width: 140px !important;
    max-width: unset !important;
  }

  & .ag-ltr .ag-body-vertical-scroll.ag-scrollbar-invisible {
    right: 6px;
  }

  .ag-pinned-right-header {
    width: 0 !important  ;
    min-width: 145px !important;
  }
}

:host ::ng-deep .ag-cell-first-right-pinned {
  justify-content: flex-end;
}

// CUSTOM PAGINATION //
.table-pagination {
  position: relative;
  width: 100%;
}
.items-dropdown {
  position: absolute;
  bottom: 16px;
  left: 28px;
  border: none;
  color: #000;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  padding-right: 16px;
}

// GENERAL STYLES //
select:focus {
  outline: none;
}

.btn {
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

:host ::ng-deep .custom-gap {
  gap: 15px;
}

// SORTING ARROWS //
:host ::ng-deep .league-table .ag-icon-desc {
  margin-top: -7px;
  &::before {
    content: url("/assets/images/down-arrow.svg");
    margin-left: 20px;
  }
}

:host ::ng-deep .league-table .ag-icon-asc {
  margin-top: -7px;
  &::before {
    content: url("/assets/images/up-arrow.svg");
    margin-left: 20px;
  }
}

// Email Link //
:host ::ng-deep .league-table .ag-cell-value span a {
  text-decoration: none !important;
  color: #2a2a2a !important;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
}

:host ::ng-deep .league-table .k-button-text {
  margin-left: 9px !important;
}

:host ::ng-deep .league-table .ag-pinned-right-cols-container {
  margin-right: 0 !important;
}

// SCROLLBAR //
:host ::ng-deep {
  .ag-root ::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    margin-right: 2px;
    z-index: 99;
  }

  .ag-root ::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 6px;
  }

  .ag-body-vertical-scroll-container {
    margin-right: 4px;
  }
}

// FLY OUT PANEL//
:host ::ng-deep {
  .ag-side-bar {
    padding: 48px 6px 0px 0px;
    position: relative;
    color: #2f2f2f;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .ag-side-button-label,
  .ag-tool-panel-wrapper,
  .ag-group-title {
    color: #2f2f2f;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  .ag-side-buttons {
    padding-top: 0;
    margin-top: -35px;
    margin-left: 7px;
  }

  .ag-side-button .ag-icon-columns::before {
    content: url("/assets/images/columns-icon.png");
  }

  .ag-side-button .ag-icon-filter::before {
    content: url("/assets/images/filter-icon.png");
  }

  .ag-side-button-icon-wrapper {
    margin-bottom: 11px;
  }

  button.ag-side-button-button {
    border: none;
    padding: 0;
  }

  .ag-side-button:last-child {
    margin-top: 43px;
  }

  .ag-set-filter-item {
    .ag-checkbox-input-wrapper input {
      width: 16px !important;
      height: 16px !important;
    }
    .ag-checkbox-input-wrapper.ag-checked::after {
      font-size: 12px;
      width: 10px;
      margin-left: 3px;
      margin-top: -1px;
    }
  }

  .action-header {
    display: none;
  }
}

// HORIZONATL SCROLLBAR //
:host ::ng-deep {
  .ag-horizontal-left-spacer {
    min-width: 300px !important;
  }

  .ag-horizontal-right-spacer {
    min-width: 100px !important;
    width: 130px !important;
  }

  .ag-center-cols-container {
    margin-right: 0 !important;
  }
}

// CUSTOM CHECKBOX //
:host ::ng-deep .ag-checkbox-input-wrapper .ag-checked {
  font-size: 20px !important;
}

:host ::ng-deep .ag-checkbox-input-wrapper.ag-checked::after {
  display: block;
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' fill='none'  viewBox='0 0 24 24' stroke-width='3' stroke='white' class='w-6 h-6'> <path stroke-linecap='round' stroke-linejoin='round' d='M4.5 12.75l6 6 9-13.5' class='icons' /></svg>");
  background-size: 28px 28px !important;
  background: fixed;
  background-size: cover;
  width: 18px;
  margin-left: 2px;
  margin-top: -2px;
}

:host ::ng-deep .ag-checkbox-input {
  appearance: none;
  -webkit-appearance: none;

  &:checked {
    background-color: #2b6789;
    border: none !important;

    &::after {
      display: none;
    }
  }
}
:host ::ng-deep .ag-checkbox-input-wrapper input,
.ag-checkbox-input-wrapper input,
.ag-checkbox-input-wrapper {
  -webkit-appearance: none;
  appearance: none;
  opacity: 1 !important;
  border: 2px solid #d0d0d0;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  margin-top: -2px;
}
:host ::ng-deep .ag-checkbox .ag-input-wrapper {
  border: none !important;
  box-shadow: none;
}

:host ::ng-deep .ag-checkbox-input-wrapper::after {
  display: none;
}

.resetButton {
  position: absolute;
  background-color: #f7f7f7;
  border-right: 1px solid rgb(189, 195, 199) !important;
  height: 48px;
  width: 88.5%;
  border: 0;
  font-size: 14px;
  color: #0a4569;
  font-weight: 700;
  top: 0;
  left: 0;

  &:hover {
    background: #c8d3dc !important;
  }
}

:host ::ng-deep .ag-tool-panel-wrapper {
  border-top: 1px solid rgb(189, 195, 199);
  margin-right: -7px;
}

:host ::ng-deep .ag-column-panel-column-select {
  border-top: none;
}

:host ::ng-deep .selected-section .k-button-text {
  margin-left: 11px;
}

// DOWNLOAD NOTIFICATION //
.toast-message {
  background-color: #237b4b;
  padding: 10px 10px 10px 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  align-items: center;
  width: 519px;
}

.message-text {
  color: #fff;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  & span {
    color: rgba(255, 255, 255, 0.6);
    font-family: Helvetica;
    font-size: 10px;
  }
}

.custom-margin {
  margin-top: 40px !important;
  transition: all 0.5s;
}

.close-btn {
  margin-left: auto;
}

:host ::ng-deep .nameField {
  width: min-content !important;
}

.clear-section-section {
  height: 100%;
  padding: 5px 20px;
  height: 32px;
  cursor: pointer;
  border-radius: 7px;
}

.clear-section-txt {
  margin-right: 11.1px;
  font-size: 14px;
  color: #444;
  font-weight: 300 !important;
}

.clear-section-section:hover {
  background-color: rgba(#a8becc, 0.2);
}

div:has(> .actionsField) > div {
  width: 10%;
}

:host ::ng-deep .actionsField {
  width: unset !important;
}

:host ::ng-deep .ag-checkbox-input-wrapper.ag-checked::after {
  display: block;
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' fill='none'  viewBox='0 0 24 24' stroke-width='3' stroke='white' class='w-6 h-6'> <path stroke-linecap='round' stroke-linejoin='round' d='M4.5 12.75l6 6 9-13.5' class='icons' /></svg>");
  background-size: 28px 28px !important;
  background: fixed;
  background-size: cover;
  width: 14px;
  margin-left: 4px;
  margin-top: 0px;
}

:host ::ng-deep .ag-cell-label-container {
  flex-direction: row-reverse !important;
  width: unset;
}

:host ::ng-deep .ag-header-cell-menu-button {
  margin-left: 10px;
}
