h1,
p {
    margin: 0;
}

input,
button:focus {
    outline: none;
}


.main-container {
    padding: 22px 24px 24px 30px;
    flex-grow: 1;
}

// HEADER SECTION STYLE //
.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    & .heading {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 24px;
            height: 24px;
        }

        h1 {
            color: #2A2A2A;
            font-family: "Proxima Nova";
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-transform: capitalize;
        }
    }

    & .search-section {
        display: flex;
        align-items: center;

        & .input-container {
            position: relative;

            img {
                height: 16px;
                width: 16px;
                position: absolute;
                left: 12px;
                top: 9px;
            }

            input {
                width: 287px;
                color: #000;
                font-family: "Proxima Nova";
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                padding: 8px 12px 8px 36px;
                border-radius: 4px;
                border: 1px solid #dfdfdf;
                background: #fff;
            }
        }

        .item-separator {
            height: 32px;
            width: 1px;
            margin: 0 12px;
            background-color: #dfdfdf;
        }
    }
}

// CREATE NEW DROPDOWN //
::ng-deep .chat-question-answer-client {

    .k-animation-container {
        width: 155px !important;
    }

    .k-list-item {
        padding: 8px;
    }

    .k-list-item-text {
        font-size: 12px;
    }
}

.create-new-dropdown {
    border: none;
    height: 32px;
    background-color: #296689;
    font-family: 'Proxima Nova';
    font-size: 12px;
    color: #FFF;
    position: relative;
}

:host ::ng-deep .create-new-dropdown {
    .k-input-inner::before {
        content: "Create new";
        text-transform: uppercase;
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        margin: 0 5px 0 4px;
    }

    .k-input-button {
        display: none;
    }

    .k-input-inner::after {
        content: url('/assets/images/chevron-down-white.svg');
        margin-top: 4px;
    }

    &-open {
        .k-input-inner::after {
            content: url('/assets/images/chevron-down-white.svg');
            margin-top: -4px;
            rotate: 180deg;
        }
    }
}

::ng-deep.k-list-content .k-list-item.k-selected {
    background: #296689;
}

:host ::ng-deep .create-new-dropdown.option-selected {
    .k-input-inner .k-input-value-text{
        display: none;
    }
}

//POPUP SETTING //
::ng-deep .chat-question-answer-client .create-new-dropdown {
    .k-animation-container {
        position: fixed !important;
        right: 24px
    }

    .k-list-content {
        padding: 0;
    }
}

// TABLE STYLE //
.ag-theme-balham {
    --ag-selected-row-background-color: #f3f6f7 !important;
    --ag-row-hover-color: none !important;
    --ag-input-focus-box-shadow: 0 0 2px 1px transparent !important;
}

:host ::ng-deep {
    .ag-header-row {
        color: #2A2A2A;
        font-family: 'Proxima Nova';
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    .ag-header-cell-text{
        text-transform: capitalize;
    }

    .ag-row-odd {
        background: none;
    }

    .ag-row-selected::before {
        background-color: transparent;
    }

    .ag-cell {
        display: flex;
        align-items: center;
        font-family: 'Proxima Nova';
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }

    .ag-row-level-1 {
        background: rgba(217, 217, 217, 0.2);
    }

    // FOR CHILD COUNT // 
    .ag-group-child-count {
        display: none !important;
    }

    .ag-cell-wrapper {
        align-items: center;
    }

    // FLOATING FILTER
    .ag-floating-filter {
        border-top: none !important;

        &::after {
            display: none;
        }
    }

    .ag-floating-filter-button {
        margin-left: unset;
    }

    .ag-icon-filter::before {
        content: url("/assets/images/floating-filter-icon.svg");
    }

    .ag-header-row-column-filter {
        background-color: #fff;

        .ag-floating-filter input {
            background-color: #fff;
            border: none;
            border-bottom: 1px solid #dfdfdf;
        }
    }

    .ag-ltr .ag-header-expand-icon {
        padding-left: 5px;
    }

    .ag-header-expand-icon-collapsed .ag-icon-contracted::before {
        content: url("/assets/images/chevron-right-icon.svg");
    }

    .ag-icon-expanded::before {
        content: url("/assets/images/chevron-left.svg");
    }

    .ag-icon-contracted {
        margin-top: -4px;
    }

    .ag-icon-expanded {
        margin-top: -8px;
    }

    .ag-column-panel-column-select {
        border-top: none;
    }

    .ag-column-select-header-icon .ag-icon-tree-open,
    .ag-column-select-column-group .ag-icon-tree-open,
    .ag-filter-toolpanel-group-title-bar-icon,
    .ag-filter-toolpanel-expand {
        margin-top: -6px;
    }

    .ag-column-select-header-icon .ag-icon-tree-closed,
    .ag-filter-toolpanel-group-title-bar-icon .ag-icon-tree-open,
    .ag-filter-toolpanel-expand .ag-icon-tree-open {
        margin-top: -3px;
    }

    .ag-column-select-column-group .ag-icon-tree-closed {
        margin-top: -5px;
    }

    .ag-pinned-right-header,
    .ag-horizontal-right-spacer {
        width: 55px !important;
        min-width: 55px !important;
    }

    .ag-pinned-right-header .ag-icon-menu {
        margin-left: -25px;
    }

    .ag-pinned-right-cols-container {
        margin-right: 0px !important;
    }

    .ag-center-cols-container {
        min-width: 100% !important;
    }
}

// SCROLLBAR //
:host ::ng-deep {
    .ag-ltr .ag-body-vertical-scroll.ag-scrollbar-invisible {
        right: 4px;
    }

    .ag-root ::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
        margin-right: 2px;
        z-index: 99;
    }

    .ag-root ::-webkit-scrollbar-thumb {
        background-color: #d9d9d9;
        border-radius: 6px;
    }

    .ag-body-vertical-scroll {
        right: 5px;
        position: absolute !important;
    }
}

// CHECKBOX //
:host ::ng-deep .ag-pinned-left-header {
    .ag-checkbox-input {
        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
    }

    .ag-header-select-all {
        margin-right: 5px;
    }

    .ag-checkbox-input-wrapper:active {
        box-shadow: none;
    }

    .ag-checkbox-input-wrapper {
        background-color: transparent !important;
    }

    .ag-checkbox-input-wrapper::after {
        display: block;
        content: url("/assets/images/chevron-right-icon.svg");
        background: fixed;
        background-size: cover;
        margin-left: 2px;
        margin-top: -2px;
    }

    .ag-checkbox-input-wrapper.icon-clicked::after {
        display: block;
        content: url("/assets/images/chevron-down-icon.svg");
        background: fixed;
        background-size: cover;
        margin-left: 0;
        margin-top: -4px;
    }
}

// RESET BUTTON //
.resetButton {
    position: absolute;
    background-color: #f7f7f7;
    border-right: 1px solid rgb(189, 195, 199) !important;
    height: 65px;
    width: 87.5%;
    border: 0;
    font-size: 14px;
    color: #0a4569;
    font-weight: 700;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(189, 195, 199);

    &:hover {
        background: #c8d3dc !important;
    }
}

// FLY OUT PANEL//
:host ::ng-deep {
    .ag-side-bar {
        padding: 0 4px 0px 0px;
        position: relative;
    }

    .ag-side-button-label,
    .ag-tool-panel-wrapper,
    .ag-group-title {
        color: #2a2a2a;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .ag-side-buttons {
        padding-top: 0;
        margin-top: 33px;
        margin-left: 5px;
    }

    .ag-side-button .ag-icon-columns::before {
        content: url("/assets/images/column-icon-dark.svg");
    }

    .ag-side-button .ag-icon-filter::before {
        content: url("/assets/images/floating-filter-icon.svg");
    }

    .ag-side-button-icon-wrapper {
        margin-bottom: 4px;
    }

    button.ag-side-button-button {
        border: none;
        padding: 0;
    }

    .ag-side-button:last-child {
        margin-top: 31px;
    }

    .ag-side-bar-right .ag-tool-panel-wrapper {
        margin-top: 65px;
    }
}

// STATUS PANEL //
:host ::ng-deep {
    .ag-status-bar {
        display: flex;
        align-items: center;
        height: 36px;
    }

    .ag-status-name-value {
        color: #2a2a2a;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        padding: 0;
    }
}

// CREATE NEW FLYOUT //
::ng-deep .create-new-section .k-input{
    font-size: 12px;
}

.create-new-section {
    width: 331px;
    padding: 25px 20px;
    box-shadow: 0px 4px 10px rgba(#000, 0.4);
    position: relative;
    margin-top: -52px;

    @media (min-width:1920px) {
        width: 500px;
    }

    &-header {
        font-size: 16px;
        color: #2A2A2A;
        font-weight: 700;
        font-family: 'Proxima Nova';
        line-height: 24px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    .label-text {
        font-family: 'Proxima Nova';
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        margin-bottom: 8px;
        text-transform: capitalize;
    }
}

.create-new-section .close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 25px;
    cursor: pointer;
}

.buttons-container {
    border-top: 1px solid #DFDFDF;
    padding-top: 20px;
    margin-top: 20px;
}


.btn-save {
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #296689;
    padding: 8px 14px 8px 15px;
    text-transform: uppercase;
    font-family: 'Proxima Nova';
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
}

.btn-cancel {
    display: flex;
    width: 92px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #e4eff3;
    padding: 8px 14px 8px 15px;
    text-transform: uppercase;
    font-family: 'Proxima Nova';
    color: #296689;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.dropdown {
    border: 1px solid #dfdfdf;
    height: 30px;
    background-color: #FFF;
    font-family: 'Proxima Nova';
    font-size: 12px;
}

:host ::ng-deep .dropdown {
    .k-input-button {
        display: none;
    }

    .k-input-inner::after {
        content: url('/assets/images/chevron-down-icon.svg');
        margin-top: 4px;
    }

    &-open {
        .k-input-inner::after {
            content: url("/assets/images/up-arrow.svg");
        }
    }
}

::ng-deep.k-list-content .k-list-item.k-selected {
    background: #296689;
}

// Kendo Toggle Button
:host ::ng-deep .k-switch-md .k-switch-track {
    width: 40px;
    height: 24px;
    border: none;
    background-color: #D9D9D9;
}

:host ::ng-deep .k-switch-md {
    width: 40px;
    height: 24px;

    .k-switch-thumb {
        width: 20px;
        height: 20px;
        background-color: #B9B9B9;
    }

    .k-switch-label-off,
    .k-switch-label-on {
        display: none;
    }
}

:host ::ng-deep .k-switch-on:focus .k-switch-track,
:host ::ng-deep .k-switch-off:focus .k-switch-track {
    outline: none;
}

:host ::ng-deep .k-switch-on .k-switch-track {
    background-color: #296689;
}

:host ::ng-deep {
    .k-switch-md.k-switch-off .k-switch-thumb-wrap {
        left: calc(12px + 0px);
    }

    .k-switch-md.k-switch-on .k-switch-thumb-wrap {
        left: calc(100% - 12px - 0px);
    }
}