<div class="d-flex gap-4">
    <div class="main-container chat-question-answer-client">
        <div class="section-header">
            <div class="heading">
                <img src="assets/images/person-pin-outline-rounded.svg" alt="Client icon">
                <h1>All Clients</h1>
            </div>
    
            <div class="search-section">
                <div class="input-container">
                    <input 
                        type="text" 
                        placeholder="search client, franchise or assessment"        
                        id="filter-text-box"
                        (input)="onSearch()"
                    >
                    <img src="assets/images/search-icon.png" alt="Search icon">
                </div>
                <div class="item-separator"></div>
                <kendo-dropdownlist 
                    #dropdown
                    [data]="dropdownOptions" 
                    textField="value"
                    valueField="value"
                    class="create-new-dropdown"
                    (open)="onDropDownOpen($event,'create new')"
                    (close)="onDropDownClose($event,'create new')"
                    (valueChange)="onSelectionChange($event,'create new')"
                    [class.create-new-dropdown-open]="isCreateDropDownOpen"
                    [class.option-selected]="isDropDownOptionSelected"
                    [popupSettings]="{appendTo: 'component'}">
                </kendo-dropdownlist>
            </div>
        </div>
    
        <div class="table-section">
            <ag-grid-angular
                style="flex-grow: 1; height: 655px"
                class="ag-theme-balham ag-grid"
                [rowHeight]="36"
                [columnDefs]="columnDef"
                [defaultColDef]="defaultColDef"
                [statusBar]="statusBar"
                [rowData]="rowData"
                [gridOptions]="gridOptions"
                [sideBar]="sideBar"
                (toolPanelVisibleChanged)="onToolPanelVisibleChanged($event)"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
    </div>

    <div class="create-new-section" *ngIf="isQuestionClientFlyOutOpen || isAnswerClientFlyOutOpen">
        <img src="assets/images/close-icon-black.svg" alt="Close Icon" class="close-icon" (click)="onCreateFlyOutClose()">
        <h1 class="create-new-section-header">{{flyOutHeading}}</h1>
    
        <form class="k-form k-form-md" [formGroup]="questionForm" (ngSubmit)="onSaveChanges(questionForm,'question')" *ngIf="isQuestionClientFlyOutOpen">
            <div class="formSection d-flex flex-column custom-gap-5">

                <kendo-formfield>
                    <kendo-label class="label-text">Initial Choices</kendo-label>
                    <kendo-dropdownlist
                        [data]="choiceList"
                        class="dropdown"
                        textField="value"
                        valueField="id"
                        [valuePrimitive]=true
                        (open)="onDropDownOpen($event,'choice')"
                        (close)="onDropDownClose($event,'choice')"
                        (valueChange)="onSelectionChange($event,'choice')"
                        [class.dropdown-open]="isChoiceDropDownOpen"
                        formControlName="initialChoice">
                    </kendo-dropdownlist>     
                </kendo-formfield>

                <kendo-formfield *ngIf="questionForm.get('initialChoice')?.value?.toString() === '1'">
                    <kendo-label class="label-text">Select Existing Question</kendo-label>
                    <kendo-dropdownlist
                        [data]="existingQuestionsList"
                        class="dropdown"
                        textField="value"
                        valueField="value"
                        [valuePrimitive]=true
                        (open)="onDropDownOpen($event,'existingQue')"
                        (close)="onDropDownClose($event,'existingQue')"
                        [class.dropdown-open]="isExistingQueDropDownOpen"
                        (valueChange)="onSelectionChange($event,'existingQue')"
                        formControlName="existingQue">
                    </kendo-dropdownlist>     
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Question Text</kendo-label>
                    <input formControlName="questionText" kendoTextBox>
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Client</kendo-label>
                    <kendo-dropdownlist
                        [data]="clientList"
                        class="dropdown"
                        textField="value"
                        valueField="value"
                        [valuePrimitive]=true
                        (open)="onDropDownOpen($event,'client')"
                        (close)="onDropDownClose($event,'client')"
                        [class.dropdown-open]="isClientDropDownOpen"
                        formControlName="client">
                    </kendo-dropdownlist>     
                </kendo-formfield>

                <kendo-formfield class="d-flex gap-4 align-items-center">
                    <kendo-label class="label-text mb-0">Visible</kendo-label>
                    <kendo-switch formControlName="visible"></kendo-switch>
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Associated node name</kendo-label>
                    <input formControlName="nodeName" kendoTextBox>
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Associated category</kendo-label>
                    <kendo-dropdownlist
                        [data]="categoryList"
                        class="dropdown"
                        (open)="onDropDownOpen($event,'category')"
                        (close)="onDropDownClose($event,'category')"
                        [class.dropdown-open]="isCategoryDropDownOpen"
                        formControlName="category"
                        >
                    </kendo-dropdownlist>                  
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Status</kendo-label>
                    <kendo-dropdownlist
                        [data]="statusList"
                        class="dropdown"
                        (open)="onDropDownOpen($event,'status')"
                        (close)="onDropDownClose($event,'status')"
                        [class.dropdown-open]="isStatusDropDownOpen"
                        formControlName="status"
                        >
                    </kendo-dropdownlist>                
                </kendo-formfield>
    
                 <div class="buttons-container d-flex gap-2">
                    <button class="btn btn-save" type="submit" [disabled]="!questionForm.valid">Save Changes</button>
                    <button class="btn btn-cancel" (click)="onCreateFlyOutClose()">Cancel</button>
                </div>
            </div>
        </form>

        <form class="k-form k-form-md" [formGroup]="answerForm" (ngSubmit)="onSaveChanges(questionForm,'answer')" *ngIf="isAnswerClientFlyOutOpen">
            <div class="formSection d-flex flex-column custom-gap-5">
                <kendo-formfield>
                    <kendo-label class="label-text">Select Question</kendo-label>
                    <kendo-dropdownlist
                        [data]="existingQuestionsList"
                        class="dropdown"
                        textField="value"
                        valueField="value"
                        [valuePrimitive]=true
                        (open)="onDropDownOpen($event,'existingQue')"
                        (close)="onDropDownClose($event,'existingQue')"
                        [class.dropdown-open]="isExistingQueDropDownOpen"
                        (valueChange)="onSelectionChange($event,'existingQue')"
                        formControlName="question">
                    </kendo-dropdownlist>     
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Answer Text</kendo-label>
                    <input formControlName="answerText" kendoTextBox>
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Client</kendo-label>
                    <kendo-dropdownlist
                        [data]="clientList"
                        class="dropdown"
                        textField="value"
                        valueField="value"
                        [valuePrimitive]=true
                        (open)="onDropDownOpen($event,'client')"
                        (close)="onDropDownClose($event,'client')"
                        [class.dropdown-open]="isClientDropDownOpen"
                        formControlName="client">
                    </kendo-dropdownlist>     
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Associated node name</kendo-label>
                    <input formControlName="nodeName" kendoTextBox  [readonly]="true">
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Associated category</kendo-label>
                    <input formControlName="category" kendoTextBox  [readonly]="true">
                </kendo-formfield>

                <kendo-formfield>
                    <kendo-label class="label-text">Status</kendo-label>
                    <kendo-dropdownlist
                        [data]="statusList"
                        class="dropdown"
                        (open)="onDropDownOpen($event,'status')"
                        (close)="onDropDownClose($event,'status')"
                        [class.dropdown-open]="isStatusDropDownOpen"
                        formControlName="status"
                        >
                    </kendo-dropdownlist>                
                </kendo-formfield>
    
                 <div class="buttons-container d-flex gap-2">
                    <button class="btn btn-save" type="submit" [disabled]="!questionForm.valid">Save Changes</button>
                    <button class="btn btn-cancel" (click)="onCreateFlyOutClose()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
