@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
.container{
    width: 450px;
    height: 620px;
    
    
    .txt-profile{
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 34px;
    }
}
.k-form {
   
    border: 1px solid #D0D0D0;
    background-color: #F3F3F3;
    padding: 38px;
    .form-label{
        width: 78px;
        height: 14px;
        font-size: 15px;
        color: #7E7E7E;
        margin-bottom: 16px;
    }
    .form-input{
        margin-bottom: 20px;
        width: 336px;
        height: 50px;
        border-radius: 2px;
    }
    .required-error{
        margin-top: -15px;
    }
    .btn-save{
        width: 337px;
        height: 52px;   
        border-radius: 2px;   
        color: white;
        background-color: #0B4569; 
        text-transform: uppercase;
        border: none;
        
    }
    .reset-pass{
        margin-top: 10px;
        text-align: center;
        text-decoration: underline;
    }
}
