@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

::ng-deep .k-window {
  width: 560px;
  height: 417px;
}
:host ::ng-deep .k-window-content:first-child {
  padding: 24px 24px !important ;
}

app-confirm-dialog {
  position: relative;
}

.dailog-container {
  .iconBox {
    width: 24px;
    height: 24px;
    border: 2px solid #000000;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }
  .icon {
    width: 18px;
    height: 20px;
    stroke: #000000;
  }
  .dialog-title {
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #0a4569;
    margin-top: 13.13px;
    margin-bottom: 35px;
  }
  .dialog-massage {
    font-family: Helvetica;
    color: #7e7e7e;
    font-size: 16px;
    text-align: center;
    margin-bottom: 43px;
  }
}


