// GENERAL STYLE //
h1,
p {
  margin: 0;
}
button {
  text-transform: uppercase;
}

input,
select,
button:focus {
  outline: none;
}

.main-container {
  padding: 22px 24px 47px 30px;

  @media (min-width: 1920px) {
    margin: 22px 24px 42px 30px!important;
    padding: 0;
  }
}

// HEADER STYLE //
.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  & .heading {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 27px;
      height: 21px;
    }

    h1 {
      color: #2e2e2e;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  & .search-section {
    display: flex;
    gap: 20px;
    align-items: center;

    & .input-container {
      position: relative;

      img {
        height: 16px;
        width: 16px;
        position: absolute;
        left: 12px;
        top: 9px;
      }

      input {
        width: 507px;
        color: #808080;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        padding: 8px 12px 8px 36px;
        border-radius: 4px;
        border: 1px solid #dfdfdf;
        background: #fff;
      }
    }

    .btn-export {
      width: 92px;
      height: 32px;
      border-radius: 4px;
      padding: 8px 14px 8px 15px;
      background-color: #296689;
      color: #fff;
      font-family: "Proxima Nova";
      font-size: 12px;
      line-height: 16px;
    }
  }
}

// LEFT PINNED COLUMN //
:host ::ng-deep {
  .ag-pinned-left-cols-header .ag-cell {
    padding-left: 14px;
  }

  .ag-pinned-left-header .ag-floating-filter {
    padding-left: 37px;
    width: 200px !important;
  }
}

// COMPARISON TEXT //
:host ::ng-deep {
  .comparison-text {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding: 2px 6px;
    border-radius: 5px;
    width: fit-content;
  }
  .red-text {
    color: #cc0027;
    background: rgba(204, 0, 39, 0.1);
  }

  .orange-text {
    color: #ec8a0c;
    background: rgba(236, 138, 12, 0.1);
  }

  .green-text {
    color: #4d984b;
    background: rgba(77, 152, 75, 0.1);
  }
}

:host ::ng-deep {
  .custom-header-with-icon {
    display: flex;
    align-items: center;
  }

  .custom-header-with-icon::before {
    content: url("../../../../assets/images/chevron-right-icon.svg");
    margin-right: 8px;
  }
}

// CHECKBOX //
:host ::ng-deep .ag-pinned-left-header {
  .ag-checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
  }

  .ag-header-select-all {
    margin-right: 5px;
  }

  .ag-checkbox-input-wrapper:active {
    box-shadow: none;
  }
  .ag-checkbox-input-wrapper {
    background-color: transparent !important;
  }

  .ag-checkbox-input-wrapper::after {
    display: block;
    content: url("../../../../assets/images/chevron-right-icon.svg");
    background: fixed;
    background-size: cover;
    margin-left: 2px;
    margin-top: -2px;
  }

  .ag-checkbox-input-wrapper.icon-clicked::after {
    display: block;
    content: url("../../../../assets/images/chevron-down-icon.svg");
    background: fixed;
    background-size: cover;
    margin-left: 0;
    margin-top: -4px;
  }
}

:host ::ng-deep .cell-image {
  height: 10px;
  width: 10px;
}

:host ::ng-deep .cell-wrong {
  height: 8px;
  width: 8px;
}
