<div class="main-container">
    <div class="section-header">
        <div class="heading">
            <img src="assets/images/bar-chart-icon.png" alt="Bar-chart icon">
            <h1>Leads per Community</h1>
        </div>
        <div class="search-section">
            <div class="input-container">
                <input 
                type="text" 
                placeholder="Search" 
                (input)="onSearch()"         
                id="filter-text-box"
                >
                <img src="assets/images/search-icon.png" alt="Search icon">
            </div>
            <button class="btn btn-export" (click)="onExport()">Export</button>
        </div>
    </div>

    <app-table
      [ngClass]="{'hide-child-count': false}"
      [rowHeight]="36"
      [columnDefs]="columnDef"
      [rowSelection]="rowSelection"
      [rowData]="rowData"
      [hierarchyColumnDef]="autoGroupColumnDef"
      [gridOptions]="gridOptions"
      [enableCharts]="true"
      [treeData]="!!autoGroupColumnDef">
    </app-table>
</div>
