@import "./../node_modules/bootstrap/scss/bootstrap.scss";  
@import '/node_modules/ag-grid-community/styles/ag-grid.css';
@import '/node_modules/ag-grid-community/styles/ag-theme-balham.css';
@import '/node_modules/@progress/kendo-theme-default/scss/all.scss';
/* You can add global styles to this file, and also import other style files */
$font-family: "Helvetica Neue";

html,
body {
  height: 100%;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeue Medium.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova.ttf');
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Proxima Nova';
  transition: all 0.6s ease;
}
