<div>
  <div class="border-bottom">
    <kendo-appbar-section
      class="d-flex align-items-center justify-content-between nav"
    >
      <kendo-appbar-section class="col-md-4 col-xl-6">
        <img
          src="assets/images/roobrik_color_horizontal.png"
          class="roobrik-logo"
        />
      </kendo-appbar-section>

      <kendo-appbar-section class="col-md-8 col-xl-6">
        <div class="d-flex gap-5">
          <nav
            class="d-flex justify-content-between align-items-center col-xl-8"
          >
            <div>
              <a
                kendo-link
                routerLink=""
                routerLinkActive="active-link"
                class="links home-link"
                >Home</a
              >
            </div>

            <div>
              <a
                kendo-link
                href="#"
                (click)="showReportOptions($event)"
                class="links link-reports report"
                [ngClass]="{'active-link': reports}"
              >
                Reports
                <span class="arrow"></span>
              </a>
            </div>

            <div>
              <a kendo-link href="#" class="links">Lead Routing</a>
            </div>
          </nav>
          <div class="d-flex gap-3 col-xl-4 justify-content-center">
            <button
              kendoButton
              class="action-btn border rounded-circle text-primary-emphasis bg-light info-btn"
              (click)="showInfoBtn($event)"
              [ngClass]="{'active': infoBtn}"

            >
              ?
            </button>
            <button
              kendoButton
              class="action-btn border rounded-circle text-md text-white bg-info profile-btn"
              (click)="showProfileBtn($event)"
              [ngClass]="{'active': profileBtn}"
            >
              JV
            </button>
          </div>
        </div>
      </kendo-appbar-section>
    </kendo-appbar-section>
  </div>
</div>

<div class="popup popup-reports d-flex flex-column" *ngIf="reports">
  <span>Standard Reports</span>
  <span>Custom Reports</span>
</div>

<div class="popup popup-info p-3 d-flex flex-column" *ngIf="infoBtn">
  <div class="info-border-bottom border-bottom mb-2">
    <span> Need more help? </span>
  </div>
  <div class="text-secondary text-sm mb-2">Your Client Success Manager is</div>
  <div class="d-flex align-items-center gap-3 personal-content">
    <img
      src="assets/images/user-1.png"
      class="border border-primary rounded-circle"
    />
    <div class="d-flex flex-column">
      <div class="text-md user-name font-weight-bold">Kim Armstrong</div>
      <div class="text-primary email">Kim.armstring@robbrik.com</div>
    </div>
  </div>
</div>

<div class="popup popup-profile d-flex flex-column" *ngIf="profileBtn">
  <span>Profile</span>
  <span>Switch Account</span>
  <span>Sign Out</span>
</div>
