h1,
p {
    margin: 0;
}

input,
button:focus {
    outline: none;
}

.main-container {
    padding: 22px 24px 42px 30px;
    flex-grow: 1;
}

// HEADER SECTION STYLE //
.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    & .heading {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 24px;
            height: 24px;
        }

        h1 {
            color: #2A2A2A;
            font-family: "Proxima Nova";
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-transform: capitalize;
        }
    }

    & .search-section {
        display: flex;
        align-items: center;

        & .input-container {
            position: relative;

            img {
                height: 16px;
                width: 16px;
                position: absolute;
                left: 12px;
                top: 9px;
            }

            input {
                width: 287px;
                color: #000;
                font-family: "Proxima Nova";
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                padding: 8px 12px 8px 36px;
                border-radius: 4px;
                border: 1px solid #dfdfdf;
                background: #fff;
            }
        }

        .item-separator {
            height: 32px;
            width: 1px;
            margin: 0 12px;
            background-color: #dfdfdf;
        }
    }
}

// CREATE NEW DROPDOWN //
::ng-deep .chat-node-category {
    .k-list-item {
        padding: 8px;
    }

    .k-list-item-text {
        font-size: 12px;
    }
}

.create-new-dropdown {
    border: none;
    height: 32px;
    background-color: #296689;
    font-family: 'Proxima Nova';
    font-size: 12px;
    color: #FFF;
}

:host ::ng-deep .create-new-dropdown {
    .k-input-inner::before {
        content: "Create new";
        text-transform: uppercase;
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        margin: 0 5px 0 4px;
    }

    .k-input-button {
        display: none;
    }

    .k-input-inner::after {
        content: url('/assets/images/chevron-down-white.svg');
        margin-top: 4px;
    }

    &-open {
        .k-input-inner::after {
            content: url('/assets/images/chevron-down-white.svg');
            margin-top: -4px;
            rotate: 180deg;
        }
    }
}

::ng-deep.k-list-content .k-list-item.k-selected {
    background: #296689;
}

:host ::ng-deep .create-new-dropdown.option-selected {
    .k-input-inner .k-input-value-text{
        display: none;
    }
}
//POPUP SETTING //
::ng-deep .chat-node-category .create-new-dropdown {
    .k-animation-container {
        position: fixed !important;
        right: 24px
    }

    .k-list-content {
        padding: 0;
    }
}

// // TABLE STYLE //
:host ::ng-deep {
    .ag-pinned-right-header,
    .ag-horizontal-right-spacer {
        width: 60px !important;
        min-width: 60px !important;
    }

    .ag-pinned-right-cols-container {
        margin-right: 0px !important;
    }

    .ag-center-cols-container {
        width: 100% !important;
    }
}

// CREATE NEW FLYOUT //
.create-new-section {
    width: 331px;
    padding: 25px 20px;
    box-shadow: 0px 4px 10px rgba(#000, 0.4);
    position: relative;
    margin-top: -52px;

    @media (min-width:1920px) {
        width: 500px;
    }

    &-header {
        font-size: 16px;
        color: #2A2A2A;
        font-weight: 700;
        font-family: 'Proxima Nova';
        line-height: 24px;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    .label-text {
        font-family: 'Proxima Nova';
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        margin-bottom: 8px;
        text-transform: capitalize;
    }
}

.create-new-section .close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 25px;
    cursor: pointer;
}

.buttons-container {
    border-top: 1px solid #DFDFDF;
    padding-top: 20px;
    margin-top: 20px;
}


.btn-save {
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #296689;
    padding: 8px 14px 8px 15px;
    text-transform: uppercase;
    font-family: 'Proxima Nova';
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
}

.btn-cancel {
    display: flex;
    width: 92px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #e4eff3;
    padding: 8px 14px 8px 15px;
    text-transform: uppercase;
    font-family: 'Proxima Nova';
    color: #296689;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.dropdown {
    border: 1px solid #dfdfdf;
    height: 30px;
    background-color: #FFF;
    font-family: 'Proxima Nova';
    font-size: 12px;
}

:host ::ng-deep .dropdown {
    .k-input-button {
        display: none;
    }

    .k-input-inner::after {
        content: url('/assets/images/chevron-down-icon.svg');
        margin-top: 4px;
    }

    &-open {
        .k-input-inner::after {
            content: url("/assets/images/up-arrow.svg");
        }
    }
}

::ng-deep.k-list-content .k-list-item.k-selected {
    background: #296689;
}