.container {
  margin: 0;
  padding: 0;
  min-width: 99vw;

  @media screen and (min-width: 1921px) {
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.login-form {
  padding: 18.25rem 0 0 9.2rem;

  img {
    height: 48px;
    width: 276px;
  }
}

.main-img {
  max-width: 50%;
  height: 1080px;

  @media screen and (min-width: 1921px) {
    min-width: 875px;
    height: 1080px;
  }
}

.login-title {
  margin-top: 82px;
  color: #0a4569;
  font-weight: 700;
  font-size: 30px;
}

.form-input {
  width: 303px;
  height: 42px;
  border-radius: 0;
  border: 1px solid #707070;
}

.password-label {
  margin-top: 41.5px;
}

.btn-save {
  width: 303px;
  height: 52px;
  border-radius: 0;
  background-color: #0b4569;
  color: white;
  font-weight: normal;
  margin-top: 44px;
  font-size: 16px;
  font-weight: 100;
  padding: 22px 124.5px 16px;
}

.forgot-password {
  color: #727272;
  text-decoration: underline;
  margin-top: 44px;
  font-size: 16px;
  cursor: pointer;
}

.need-help {
  color: #727272;
  margin-top: 33px;
}

.email-team {
  text-decoration: underline;
}

.email-input {
  margin-top: 8.5px
}

.password-input-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute !important;
  top: 55%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9f9f9f;
}

.password-container {
  margin-top: 41.5px;
}

.form-label {
  color: #495057;
  font-size: 16px;
}

.error-message {
  margin-top: 6.5px;
  font-style: normal;
  color: #CC0027;
}

.error {
  width: 319px;
  height: 44px;
  background-color: #ec8a0c;
  color: white;
  align-items: center;
  padding-left: 15px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 44px;

  span {
    font-size: 14px;
    font-weight: 100;
  }
}

.fa-exclamation-triangle {
  font-size: 22px;
  margin-right: 5px;
}

.cross-icon {
  height: 20px;
  width: 20px;
  margin-left: 12px;
  font-weight: 500;
}

.error-message {
  color: red;
}

