.container {
  margin: 0;
  padding: 0;
  min-width: 99vw;

  @media screen and (min-width: 1921px) {
    min-width: auto;
    margin-right: auto;
  }
}

.form {
  padding: calc((234px / 1181px) * 100vh) 0px 0px 7.125rem;

  img {
    height: 48px;
    width: 276px;
  }
}

.main-img {
  max-width: 50%;
  height: 1080px;

  @media screen and (min-width: 1921px) {
    min-width: 875px;
    height: 1080px;
  }
}

.title {
  margin-top: 73.5px;
  color: #0a4569;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 1.5px;
}

.description {
  width: 320px;
  color: #707070;
  font-size: 16px;
  font-weight: normal;
  margin-top: 31.92px;
}

.form-input {
  width: 303px;
  height: 42px;
  border-radius: 0;
  border: 1px solid #707070;
}

.k-form-fieldset {
  margin-top: 46.48px !important;
}

.btn-save {
  width: 303px;
  height: 52px;
  border-radius: 0;
  background-color: #0b4569;
  color: white;
  font-weight: normal;
  margin-top: 41.98px;
  font-size: 16px;
  font-weight: 100;
  padding: 20px 81px 18px;
}

.need-help {
  color: #727272;
  margin-top: 74.5px;
  font-size: 16px;
}

.email-team {
  text-decoration: underline;
}

.email-input {
  margin-top: 8.5px;
}

.form-label {
  color: #495057;
  font-size: 16px;
  font-weight: normal;
}

.error-message {
  margin-top: 6.5px;
  font-style: normal;
  color: #cc0027;
}

.link-sent {
  width: 318.62px;
  height: 44px;
  background-color: #237b4b;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 51.92px !important;

  span {
    font-size: 14px;
  }
}

.fa-check-circle {
  font-size: 23px;
  margin-left: 14px;
  margin-right: 10px;
}

.cross-icon {
  height: 25px !important;
  width: 25px !important;
  margin-left: 80px;
  cursor: pointer;
}

input:required:invalid {
  border: 1px solid #707070;
}

input::placeholder {
    color: #495057;
    font-size: 16px;
}
