<div class="container d-flex">
  <img class="main-img" src="assets/images/login-image.png" />
  <div class="form">
    <img src="assets/images/roobrik_color_horizontal.png" />
    <div class="title">Forgot password</div>
    <div class="description" *ngIf="!linkSent">
      Please enter your email address and we will send you a link to reset your
      passwor. You may need to check your spam folder.
    </div>
    <div
      *ngIf="linkSent && !notiClosed"
      (click)="closeNotification()"
      class="link-sent"
    >
      <i class="fas fa-check-circle"></i>
      <span>The email has been sent</span>
      <img class="cross-icon" src="../../../../assets/images/times-icon.svg" />
    </div>
    <form class="k-form k-form-md" [formGroup]="form">
      <fieldset
        *ngIf="!linkSent"
        class="k-form-fieldset"
        [ngStyle]="
          isError ? { 'margin-top': '33px' } : { 'margin-top': '56px' }
        "
      >
        <kendo-formfield>
          <kendo-label
            [for]="email"
            class="form-label"
            labelCssClass="k-form-label"
            >Email</kendo-label
          >
          <input
            kendoTextBox
            formControlName="email"
            class="form-input email-input"
            kendoTextBox
            type="email"
            #email
            required
            [placeholder]="
              form.get('email')?.touched || form.get('email')?.dirty
                ? 'wrongemail@gmail.com'
                : ''
            "
          />
          <kendo-formerror class="error-message" error="required">
            Please enter a valid email address.</kendo-formerror
          >
        </kendo-formfield>
      </fieldset>
      <button
        kendoButton
        class="btn-save"
        *ngIf="!linkSent"
        (click)="submitForm()"
      >
        SEND RESET LINK
      </button>
      <div
        class="need-help"
        [ngStyle]="{ 'margin-top': linkSent ? '52.92px' : '74.5px' }"
      >
        Need help? <span class="email-team">Email the Roobrik team.</span>
      </div>
    </form>
  </div>
</div>
